page-submit-quiz {

}
.fl-txt-quiz{
    text-align:center;color: #7A8C9F;
}
.fl-question-cntnr{
    
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.3);
    box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.3);
    border-radius: 8px;
       
}
.fl-question-row{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px
}
.fl-ans-padding{
    padding: 13px;
}
.fl-quen-numbr{
    width: 30px;
    border: 1px solid #E5EAED;
    border-radius: 50%;
    height: 30px;
    color: #00FADE;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
   
}
.fl-text-aln-left{
    text-align: left;
}
.fl-quiz-submit-cntnr{
    background-color: #F9FBFC;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: calc(100% - (102px));overflow-y: auto;margin-top:52px;
}
.fl-selected-ans{
    color: #00FADE;
}
.fl-qn-ans-cntnr{
    padding-top:5px;padding-bottom:5px
}
.fl-sbmt-quiz-footer1{
    
    height: 85px;
    position:absolute;
       bottom:0;
       width:100%;
    }
    .fl-row-footerbutton {
        height: 35px;
        text-align: center;
        color: #9CB5C1;
        background-color: #FFFFFF;
        
        padding: 0px;
        font-size: 0.8em;
    }
    .fl-selected-btn{
        border-top: 1px solid #57D7FE;
    }
    .fl-row-ans{
        border-top:1px solid #E5EAED
    }
    .fl-ans-right-brdr{
        border-right: 1px solid #E5EAED;
        border-bottom: 1px solid #E5EAED;
    }
    .fl-item-question{
        padding-top:10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .fl-item-answer{
        //padding-top:10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.8em
    }
    