<!--
  Generated template for the SubmitQuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <nav-bar-quiz></nav-bar-quiz>
</ion-header>
<div class="fl-quiz-submit-cntnr fl-txt-quiz" style="">

    <!--in case of patient show this component otherwise hide the componenet-->
    <div>
         <div style="margin-bottom:10px;">
            <ion-row>
                <ion-col col-3 style="text-align: center;">
                    <!-- <ion-icon name="md-more" style="color: white;font-size: 2.5em;"></ion-icon> -->
                    <!-- src="assets/imgs/HPPhoto.png" -->
                    
                    <img *ngIf="!isProviderImage"  src="assets/imgs/hpicon.jpg" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>
        <img *ngIf="isProviderImage" [src]="providerImage" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>
                  </ion-col>
                
                
                <ion-col col-9 style="text-align:left;  padding-top:10px;  ">
                    <ion-row>
                        <ion-col style="font-size: 11px;font-weight: bold;
                        color: #C0D1D9;">HEALTHCARE PROVIDER</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col style="font-size: 0.8em;">{{assessmentInfo.ProviderName}}</ion-col>
                    </ion-row>
                </ion-col>
                
                
            </ion-row>
        </div>
    </div>
    <div class="fl-qn-ans-cntnr" *ngFor="let item of quiz;let index = index;last as isLast">
        <div class="fl-question-cntnr">


            <ion-row class="fl-question-row">
                <ion-col col-2>
                    <div class="fl-quen-numbr">{{index+1}}</div>
                </ion-col>
                <ion-col col-10 class="fl-text-aln-left fl-item-question fl-textwrap-result">{{item.Question}}</ion-col>
            </ion-row>
            
            <ion-row class="fl-row-ans"  >
                    <ion-col col-6  style="" class="fl-ans-padding  fl-ans-right-brdr" *ngFor="let itemAnswer of item.Answers;let index = index;last as isLast">
                            <div [ngClass]="{'fl-selected-ans':itemAnswer.Code === item.AnswerString}" class="fl-item-answer">{{itemAnswer.Text}}</div>
                        </ion-col>
            </ion-row>
           


        </div>
    </div>
    <!-- <div class="fl-qn-ans-cntnr">
        <div class="fl-question-cntnr">


            <ion-row class="fl-question-row">
                <ion-col col-2>
                    <div class="fl-quen-numbr">1</div>
                </ion-col>
                <ion-col col-10 class="fl-text-aln-left">Quisque ut erat non turpis iaculis gravida vel ut mi. Cras blandit et leo eget luctus ?</ion-col>
            </ion-row>
            <ion-row class="fl-row-ans">
                <ion-col col-4 style="" class="fl-ans-padding fl-selected-ans fl-ans-right-brdr">
                    ALWAYS
                </ion-col>


                <ion-col col-4 class="fl-ans-padding fl-ans-right-brdr">
                    SOMETIMES
                </ion-col>

                <ion-col col-4 class="fl-ans-padding">
                    NEVER
                </ion-col>
            </ion-row>


        </div>
    </div> -->
    <!-- <div class="fl-qn-ans-cntnr">
        <div class="fl-question-cntnr">


            <ion-row class="fl-question-row">
                <ion-col col-2>
                    <div class="fl-quen-numbr">1</div>
                </ion-col>
                <ion-col col-10 class="fl-text-aln-left">Quisque ut erat non turpis iaculis gravida vel ut mi. Cras blandit et leo eget luctus ?</ion-col>
            </ion-row>
            <ion-row class="fl-row-ans">
                <ion-col col-4 style="" class="fl-ans-padding fl-selected-ans fl-ans-right-brdr">
                    ALWAYS
                </ion-col>


                <ion-col col-4 class="fl-ans-padding fl-ans-right-brdr">
                    SOMETIMES
                </ion-col>

                <ion-col col-4 class="fl-ans-padding">
                    NEVER
                </ion-col>
            </ion-row>


        </div>
    </div> -->
    <!-- <div class="fl-qn-ans-cntnr">
        <div class="fl-question-cntnr">


            <ion-row class="fl-question-row">
                <ion-col col-2>
                    <div class="fl-quen-numbr">1</div>
                </ion-col>
                <ion-col col-10 class="fl-text-aln-left">Quisque ut erat non turpis iaculis gravida vel ut mi. Cras blandit et leo eget luctus ?</ion-col>
            </ion-row>
            <ion-row class="fl-row-ans">
                <ion-col col-4 style="" class="fl-ans-padding fl-selected-ans fl-ans-right-brdr">
                    ALWAYS
                </ion-col>


                <ion-col col-4 class="fl-ans-padding fl-ans-right-brdr">
                    SOMETIMES
                </ion-col>

                <ion-col col-4 class="fl-ans-padding">
                    NEVER
                </ion-col>
            </ion-row>


        </div>
    </div> -->


</div>


<div class="fl-sbmt-quiz-footer1">
    <ion-row class="fl-row-footerbutton">
        <ion-col col-6 style="padding-top:10px;" (click)="goToQuiz()">INDIVIDUALLY</ion-col>
        <ion-col col-6 style="padding-top:10px;" class="fl-selected-btn"> COMBINED</ion-col>
    </ion-row>
    <ion-row>
        <button [disabled]="!isPatient" class="btnSignIn button-block" (click)="submitQuiz()">SUBMIT QUIZ</button>
    </ion-row>


</div>
<!-- <div>
      
    </div> -->