<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<div *ngIf="!isPatient">
    <top-navbar></top-navbar>
    <hptabs></hptabs>
</div>
   <div *ngIf="isPatient">
      <top-navbar></top-navbar>
      <patienttabs></patienttabs>
   </div>

</ion-header>


<ion-content >
    <div style="background-color: #f9fbfc;height:100%">
      <div style="height: 250px;
      padding: 20px;
      text-align: center;">
        <img src="assets/imgs/Healthcare_About_Image@x.png">

      </div>
      <div style="color: #7A8C9F;
      padding: 20px;
      text-align: left;">
        <a href="https://mobilefollowup.app">Visit our website</a><br>
        The Follow Up App mitigates risks associated with complications by connecting health care providers and patients after discharge and between routine outpatient visits.  Additionally, this app improves health outcomes, the safety of discharged patients and can enhance patient satisfaction. This app decreases the amount of time the health care provider spends in exam rooms asking routine questions.  Follow-up questions and assessments are completed by patients prior to their routine office visit.   Every minute saved will help improve the flow of patients and cuts down on the amount of time patients sit idle in waiting rooms. Patients have appointment reminders sent via alerts to their smart phones or via email.  Access to satisfaction surveys, relevant articles and advertisements are available on the patient and health care provider portals.
      </div>
    </div>
</ion-content>
