page-login {

}
.fl-signin-anchr{
    
    font-size: 15px;
    color: #C6D5DD;
    letter-spacing: 0;
}
.fl-signInInput{
    font-size: 15px;
  color: darkgrey;
}


.fl-signin-lbl-wlcm{
    font-size: 23px;
    line-height: 1.8em;
    margin-left: 35px;
    margin-top: 20px;
}