<ion-header>
    <ion-grid>
        <ion-row>
          <ion-col col-2  class="fu-nav-more">
            <!-- <ion-icon name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon> -->
          </ion-col>
          <ion-col col-8 class="fu-txt-align-centr">
            <img  src="assets/imgs/brand_header.png">
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
</ion-header>
<ion-content overflow-scroll="false" class="screen">
  
  <div class="content fl-signup-parent" >
    <div  class="fl-signin-lbl-wlcm">
      <b class="fl-txt-clr-gray">Welcome back</b>
      <br>
      <span  class="fl-txt-clr-off">Sign in to continue
        <br>to Follow Up</span>
      </div>
    <br>
    <br>
    <div>
      <ion-grid style="    width: 260px;">
        <ion-row  class="fl-dctr-pat-select">
          <ion-col col-6 class="fl-padng-0">
            <button class="fl-btn-patient-doctor" (click)="selectPatientSignIn()" [ngClass]="(patient==true)?'fl-btn-actv-dtr-ptn':'fl-btn-inactv-dtr-ptn'">Patient</button>
          </ion-col>
          <ion-col col-6  class="fl-padng-0">
            <button class="fl-btn-patient-doctor" (click)="selectDoctorSignIn()" [ngClass]="(patient==false)?'fl-btn-actv-dtr-ptn':'fl-btn-inactv-dtr-ptn'">Doctor</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
   <!--This is test comment by Kedar-->
   <!-- <form class="formLogin" name="loginForm" [formGroup]="loginGroup" novalidate style="margin-top:50px;"> -->
        <form class="formLogin" name="loginForm"  novalidate style="margin-top:50px;">
      
      <div>
        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="EMAIL" name="userValidator" [(ngModel)]="userEmail" class="fl-signInInput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="PASSWORD" name="password" [(ngModel)]="password" class="fl-signInInput" style="margin-top:25px;"></ion-input>
          </ion-item>
          <ion-item class="fu-txt-align-centr" style="margin-top: 20px;margin-bottom: 20px;">
            <span (click)="goToForgotPasswordPage()" class="fl-signin-anchr">FORGOT YOUR PASSWORD?</span>
          </ion-item>
        </ion-list>
      </div>
      <div>
        <p class="loginTxt"></p>
      </div>
      <div>
        <button class="btnSignIn button-block" (click)="signIn()">SIGN IN</button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <p class="loginTxt">
    DON'T HAVE ACCOUNT?
    <span style="text-decoration: underline;" (click)="goToSignUp()" > SIGN UP</span>
  </p>
  <!--this is comment-->
</ion-content>