page-patientresult {

}
.fl-status-indctr{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}
.fl-status-indctr-abv-avg{
    
    background-color: #6BE29A;
    
}
.fl-status-indctr-blw-avg{
    
    background-color: #F46960 ;
    
}
.fl-book-visit-txt{
    color: #8596A7;
    
}
.fl-book-visit-blk{
    border-top: 1px solid #E5EAED;
   // border-bottom: 1px solid #E5EAED;
    height: 45px;
}
.fl-status-abv-avg{
    color: #6BE29A;
}
.fl-status-blw-avg{
    
    color: #F46960 ;
    
}
.fl-assessment-patient-result-dashbrd{
    color: #7A8C9F;
    background-color:  #FFFFFF;
    height: 0;
    padding-bottom: 100%;
}



.fl-spn-result{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 0.9em;
    width: 80%;
    display: inline-block;
}
.no-pending-asngment{
    padding-left: 19px;
    padding-right: 15px;
    padding-top: 22px;
    padding-bottom: 8px;
    background: #FFFFFF;
    -webkit-box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.3);
    box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.3);
    border-radius: 8px;
    font-size: 11px;
    font-weight: bold;
    color: #5D738B;
    height: 60px;
}
