<!--
  Generated template for the PatientresultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-navbar></top-navbar>
  <patienttabs></patienttabs>
</ion-header>
<ion-content>
  <div style="height:100%">


    <div class="fl-exstng-patient-cntnr" style="">
      <div>
        <ion-row class="fl-patient-header row">
          <ion-col col-12 class="fl-exstng-patient-hdr">HISTORIC</ion-col>

        </ion-row>


        <div class="fl-actv-patient-lst">
          <div class="fl-actv-patient"  *ngFor="let item of patientAssessmentResultArray; let i = index">
            <div style="padding-left: 15px;
          padding-right: 15px;padding-top: 8px;
          padding-bottom: 8px;" (click)="viewPatientResultDetail(item)">
              <ion-row class="fl-actv-patient-header">
                <ion-col col-4>ASSESSMENT</ion-col>
                <ion-col col-4>COMPLETED</ion-col>
                <ion-col col-4>STATUS</ion-col>
              </ion-row>
              <ion-row style="align-items: center;">
                <ion-col col-4 class="fl-textwrap-result">{{item.AssessmentTitle}}</ion-col>
                <ion-col col-4>{{item.CompletedDate | date: 'dd/MM/yyyy'}} </ion-col>
                <ion-col col-4>
                  <span class="fl-status-indctr" [ngClass]="(abvAvg==true)?'fl-status-indctr-abv-avg':'fl-status-indctr-blw-avg'"></span>
                  <span class="fl-spn-result" [ngClass]="(abvAvg==true)?'fl-status-abv-avg':'fl-status-blw-avg'">{{item.Result}}</span>
                </ion-col>
              </ion-row>
              <!-- <div *ngIf="item.ViewResultDetail">
                <ion-row class="fl-actv-patient-header">
                  <ion-col col-4>ASSESSMENT</ion-col>
                  <ion-col col-4>TIPS</ion-col>
                  <ion-col col-4></ion-col>
                </ion-row>
                <ion-row style="align-items: center;">
                  <ion-col col-4>ToDo</ion-col>
                  <ion-col col-4>ToDo</ion-col>
                  <ion-col col-4>

                  </ion-col>
                </ion-row>
              </div> -->
            </div>

            <div style="    " *ngIf="item.ViewResultDetail">

              <ion-row class="fl-actv-patient-header fl-book-visit-blk" (click)="bookVisit(item)">
                <ion-col col-10 class="fl-book-visit-txt fu-txt-align-centr" >Book your next visit</ion-col>
                <ion-col col-2>
                  <ion-icon name="fl-book-vst-icon" ></ion-icon>
                </ion-col>
              </ion-row>
              <ion-row class="fl-actv-patient-header fl-book-visit-blk" (click)="sendMessage(item)">
                <ion-col col-10 class="fl-book-visit-txt fu-txt-align-centr" >Send a message to your doctor</ion-col>
                <ion-col col-2>
                  <ion-icon name="fl-send-msg-dctr-icon"></ion-icon>
                </ion-col>
              </ion-row>



            </div>
          </div>

        </div>
        
        <div class="no-pending-asngment" *ngIf="patientAssessmentResultArray.lenght==0">
            No pending assignment.
          </div>

        <!-- <ion-row style="padding-top: 20px;">
          <button class=" button-block btnSignIn " (click)="loadMoreResults()">LOAD MORE RESULTS</button>
        </ion-row> -->
        <ion-row class="fl-patient-header row" style="margin-top: 25px;">
          <ion-col col-12 class="fl-exstng-patient-hdr">MORE ASSESSMENTS</ion-col>

        </ion-row>
        <div style="margin-top: 25px;">

             <div *ngFor="let item of patientAssessmentInfo; let i = index">
                <ion-row  *ngIf="i % 3 == 0">
    
            <ion-col col-4 *ngIf="patientAssessmentInfo[i]">
                <div (click)="startQuiz(patientAssessmentInfo[i])">
                    <div class="fl-ass-tile  fl-assessment-patient-result-dashbrd">
                      <div class="fl-ass-icon-wrapper">
                        <ion-icon name="create_main_assessment"  item-right></ion-icon>
                      </div>
                      <div class="fl-ass-title-pd-wrapper">{{patientAssessmentInfo[i].Title}}</div>
                    </div>
                  </div>
            </ion-col>
           
            <ion-col col-4 *ngIf="patientAssessmentInfo[i+1]">
                <div (click)="startQuiz(patientAssessmentInfo[i+1])" >
                    <div class="fl-ass-tile  fl-assessment-patient-result-dashbrd">
                      <div class="fl-ass-icon-wrapper">
                        <ion-icon name="create_main_assessment" item-right></ion-icon>
                      </div>
                      <div class="fl-ass-title-pd-wrapper">{{patientAssessmentInfo[i + 1 ].Title}}</div>
                    </div>
                  </div>
            </ion-col>
           
           
                <ion-col col-4 *ngIf="patientAssessmentInfo[i+2] ">  
              <div  (click)="startQuiz(patientAssessmentInfo[i+2])"> 
                    <div class="fl-ass-tile  fl-assessment-patient-result-dashbrd">
                      <div class="fl-ass-icon-wrapper">
                        <ion-icon name="create_main_assessment" item-right></ion-icon>
                      </div>
                      <div class="fl-ass-title-pd-wrapper">{{patientAssessmentInfo[i +2].Title}}</div>
                    </div>
                  </div>
            </ion-col>
            
    </ion-row>
            </div> 
          <!-- <div>
            <div class="fl-ass-tile fl-assessment">
              <div class="fl-ass-icon-wrapper">
                <ion-icon name="create_main_assessment" (click)="picker.open()" item-right></ion-icon>
              </div>
              <div class="fl-ass-title-wrapper">Cardiology</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>