<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div style="background-color:#F9FBFC;height: 100%;">
<div style="height:60px;">
    <ion-grid >
        <ion-row>
          <ion-col col-2  class="fu-nav-more">
            <!-- <ion-icon name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon> -->
          </ion-col>
          <ion-col col-8 class="fu-txt-align-centr">
            <img  src="assets/imgs/brand_header.png">
          </ion-col>
          <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
  </div>
<div style="height:calc(100% - 60px)">
  
  <div class="content fl-forgot-pswrd-parent fl-forgot-cntnr" >
    <div *ngIf="showForgotForm">
    <div  class="fl-frgt-pswrd-lbl-wlcm">
      <b class="fl-txt-clr-gray">Forgot your <br>password</b>
      <br>
      <span  class="fl-txt-clr-off">Insert your email so
        <br>we can find your account</span>
      </div>
    <br>
   
   
 
    <form class="" name="forgotPasswordForm" novalidate style="">
      <div style="padding-bottom: 20px">
          <ion-item class="fu-padding-left-0">
            <ion-input type="text" placeholder="EMAIL" name="email" [(ngModel)]="forgotPassword.Email" class="fl-signInInput">
               
            </ion-input>
            <ion-icon name="md-checkmark" style="color: #57D7FE;font-size: 1.5em;" item-right></ion-icon>
          </ion-item>
      </div>
      <div>
        <button class="btnSignIn button-block" (click)="continue()" style="font-weight: bolder;">CONTINUE</button>
      </div>
    </form>
  </div>
  <div *ngIf="!showForgotForm">
    <div style="padding-top:90px" class="fl-sent-msg">
    <ion-row><ion-col class="fu-txt-align-centr"> <ion-icon name="md-checkmark" style="color: #57D7FE;font-size: 3.0em;" item-right></ion-icon></ion-col></ion-row>
    <ion-row><ion-col class="fu-txt-align-centr" style="color: #7a8c9f"> <b>Sent</b></ion-col></ion-row>
    <ion-row><ion-col class="fu-txt-align-centr fl-txt-clr-off">Please check your email and</ion-col></ion-row>
    <ion-row><ion-col class="fu-txt-align-centr fl-txt-clr-off">confirm your email.</ion-col></ion-row>
  </div>
  </div>
  </div>
</div >
  <div class="forgot-password-footer">
  <p class="loginTxt" *ngIf="showForgotForm">
    DON'T HAVE ACCOUNT?
    <span style="text-decoration: underline;" (click)="goToSignUp()" > SIGN UP</span>
  </p>
  <p class="loginTxt" *ngIf="!showForgotForm">
      GOT TEMPORORY EMAIL?
      <span style="text-decoration: underline;" (click)="goToSignIN()" > SIGN IN</span>
    </p>
</div>
  

</div>