page-forgot-password {

}
.fl-forgot-pswrd-parent {
    box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.30);
    background-color: #fff;
    padding: 30px;
   // margin-top: 20px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translate(-100%,-50%);
    width: 90%;
    height: 400px;
  }
  .forgot-password-footer{
    position: fixed;
    width: 100%;
    bottom: 70px;
    height: 30px;
  }
  .fl-frgt-pswrd-lbl-wlcm{
    font-size: 23px;
    line-height: 1.8em;
    //margin-left: 35px;
    //margin-top: 20px;
}
.fl-sent-msg{
    font-size: 20px;
    line-height: 1.8em;
}
