<!--
  Generated template for the AddHealthcarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div style="height:100%;overflow-y: auto;" padding >
    <ion-row>
        <ion-col col-10>
                <span style="text-align: center;font-size: 17px;
                color: #7A8C9F;"> Select Multiple Answers</span>
        </ion-col>
        <ion-col col-2 style="text-align: right;">
            
            <ion-icon name="md-close" style="color: #7A8C9F;font-size: 1.8em;" (click)="closeModal()"></ion-icon>
        </ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col col-12 style="text-align: center;font-size: 17px;
        color: #7A8C9F;">
        Select Multiple Answers
        </ion-col>
    </ion-row> -->
    
    <ion-row style="padding-top: 5px;">
        <ion-row *ngFor="let answer of answers; let i = index"  style="border: 1px dotted #E0EAEF;
        border-radius: 7px;margin-bottom:10px;">
            <ion-col col-2 style="padding-right: 0px;">
                <ion-item  style="padding-left: 7px;">
                    <ion-checkbox [(ngModel)]="answerChecks[i]" (ionChange)="updateAnswer(answer, $event, i)"></ion-checkbox>
                </ion-item>
            </ion-col>
            <ion-col col-6 style="padding-left: 0px;">
                <ion-item class="fu-padding-left-0">
                    <ion-input disabled="true"  class="fl-assessment-ans" [(ngModel)]="answer.Text"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-4 style="padding-left: 0px;">
                <ion-item class="fu-padding-left-0">
                        <ion-input type="number" class="fl-mrgn-lft-10" [(ngModel)]="answerScores[i]" placeholder="Score"></ion-input>
                    <!-- <ion-input type="number" [(ngModel)]="answerScores[i]" placeholder="Score"></ion-input> -->
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-row>

</div>
