page-message {

}
.fl-message-detail-cntnr{
    box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);
    border-radius: 8px;
    
    }
    .fl-msg-list-header{
        font-weight: bold;
        align-items: center;
        font-size: 1em;
         color: #7A8C9F;
    }
    .fl-msg-list-cntnt{
        color: #7A8C9F;
    }
    .fl-img-wrapper{
    border-radius: 50%;
    border: 1px solid #E5EAED;
    height: 43px;
    width: 43px;
    }
