<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <message-top-bar></message-top-bar>
</ion-header>


<ion-content>
    <div style="height:100%">
  
  
      <div class="fl-exstng-patient-cntnr" style="">
          <back-button></back-button>
        <div> 
         
  
  
          <div class="fl-actv-patient-lst">
            <div  *ngFor="let item of chatContacts"  class="fl-actv-patient" >
      <div style="padding-left: 10px;padding-right: 10px;padding-top: 8px;padding-bottom: 8px;height:70px;" (click)="openChat(item)">
            <ion-row>
              <ion-col col-2 style="padding:0px;vertical-align:middle; margin-top: 6px;"> 
                  <!--<img src="https://github.com/HsuanXyz/ionic3-chat/blob/master/src/assets/to-user.jpg?raw=true" class="fl-img-wrapper">-->
                  <img *ngIf="item.ImageBase64 == null && !isPAtient" src="assets/imgs/patientdicon.png" class="fl-img-wrapper">
                  <img *ngIf="item.ImageBase64 == null && isPAtient" src="assets/imgs/hpicon.jpg" class="fl-img-wrapper">
                  <img *ngIf="item.ImageBase64 != null" src="{{item.ImageBase64}}" class="fl-img-wrapper">

              </ion-col>
              <ion-col col-10>
                  <ion-row class="fl-msg-list-header">
                      
                      <ion-col col-8>{{item.ContactName}}</ion-col>
                      <ion-col col-4>{{item.MessageDate | date:"dd/MM/yyyy": 'UTC'}}</ion-col>
                    </ion-row>
                    <ion-row style="align-items: center;"  class="fl-msg-list-cntnt">
                        
                        <ion-col class="fl-textwrap-result" col-12 >{{item.LastMessage}}</ion-col>

                       
                      </ion-row>
              </ion-col>
            </ion-row>       
         </div>
  
              
            </div>
  
          </div>
  
         
         
        </div>
      </div>
    </div>
  </ion-content>
