

<div class="" style="height:100%">
    <ion-grid style="background-color: #F9FBFC;">
        <ion-row>
            <ion-col col-12 style="text-align:center;    ">
                <img class="" style="width: 150px;" src="assets/imgs/brand_header.png" >
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="" class="fl-reminder-quiz-cntnr">

      

      <div class="fl-text-containner">

        <div class="fl-txt-reminder">You have a {{assessmentInfo.Title}} quiz, would you like to take the quiz?</div>
        <div></div>
      </div>
      


      

     
    </div>

    <div class="fl-footer-reminder-quiz">
        <!-- <button class="button-block fl-footer-reminder-quiz-btn" (click)="takeTest()">SKIP THE TEST</button> -->
        <button class=" button-block fl-skip-test" (click)="skipTest()">SKIP THE TEST</button>
      <button class="button-block fl-footer-reminder-quiz-btn" (click)="takeTest()">TAKE THE TEST</button>
     
    </div>
 



</div>
