page-assessment-reminder {

}
.fl-footer-reminder-quiz-btn {
    background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
    height: 50px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    width:50%;
    float: right;
    
  }
  .fl-footer-reminder-quiz {
    position: absolute;
    bottom: 0;
    width: 100%;
   // background: #ffffff;
    height: 50px;
  }
  .fl-reminder-quiz-cntnr{
    background-color: #F9FBFC;
    height:calc(100% - 100px ) ;
    padding: 30px;
    //margin-top: 70px;
    //margin-bottom: 40px;
   // margin-left: 25px;
  }
  .fl-text-containner{
    position: relative;
    top: 30%;
  }
  .fl-txt-reminder{
    
    font-size: 34px;
    color: #00FADE;
    
    line-height: 43px;
  }
  .fl-skip-test{
  background: #C6D5DD;
  height: 50px;
  font-size: 11px;
  font-weight: bold;
  color: #FFFFFF;
  width: 50%;
  display: -webkit-inline-box;
  }