<!-- Generated template for the MessageTopBarComponent component -->
<div style="    border: 1px solid #E5EAED;">
  
  
          <ion-grid>
              <ion-row>
                  <ion-col col-1 style="text-align: center;">
                      <ion-icon item-start icon-only  menuToggle name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon>
                  </ion-col>
                  <ion-col col-2 style="    margin-top: 3px;    text-align: center;">
                      <!-- <ion-icon name="ios-search" style="font-size: 29px;            
                  color: #C0D1D9;"></ion-icon> -->
                  </ion-col>
                  <ion-col col-6 style="text-align:center;    ">
                    <div style="height:100%">
                      <!-- <span style="    vertical-align: -webkit-baseline-middle;font-size: 1.3em;    color: #7A8C9F;font-weight: bold;"> Dr. E.Powel</span> -->
                      <img class="" style="width: 150px;" src="assets/imgs/brand_header.png" >
                    </div>
                   
                  </ion-col>
                  <ion-col col-2></ion-col>
                  <ion-col col-1>
                      <!-- <ion-icon name="fl-edt-msg" style="font-size: 2.5em; vertical-align: -webkit-baseline-middle;"></ion-icon> -->
                  </ion-col>
                  
              </ion-row>
  
          </ion-grid>
      </div>
