page-patient-schedule {

}
.fl-time-slot{
     border: 1px solid #E8EFF2;
     font-size: 0.8em;
     color: #7C86A2;
     text-align: center;
     border-radius: 100px;
     line-height: 2.2em;
     height: 25px;
     
 }
 .fl-time-slot-bkd{
     background-image: linear-gradient(-159deg, #57D7FE 0%, #00FADE 100%);
     color: #FFFFFF;
     border: 1px solid #57D7FE;
     
 }

 .fl-patient-incpmt-txt{
    color: #F46960;
}
.fl-patient-cpmt-txt{
    color: #6BE29A;
}

.fl-card-close-icon
{
    margin-right: 20px;
    float: right;
    color: red;
    font-size: large;
}
 
.fl-bullet {
    margin-top:5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}