<!--
  Generated template for the PatientSchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-navbar></top-navbar>
  <patienttabs></patienttabs>
</ion-header>
<ion-content>
  <div style="height:100%">


    <!-- <div class="fl-exstng-patient-cntnr" style="">
     


    </div> -->

<div class="fl-dctr-schedule-cntnr" style="">
    <div class="fl-booking-cntnr">
      <div class="row fl-booking-hdr">YOUR BOOKINGS</div>
      <ion-card *ngFor="let item of patientAppointments"  style="border: 1px solid #E8EFF2;
      border-radius: 4px;box-shadow: none;">
        <div class="fl-booking-details">
            <ion-row class="fl-card-close-icon" >
                <span (click)="DeleteAppointment(item)"><ion-icon name="close-circle"></ion-icon></span>
              </ion-row>
          <ion-row class="fl-booking-sub-hdr">
            <ion-col>HEALTH PROVIDER</ion-col>
          </ion-row>
          <ion-row class="fl-booking-dtl-txt">
            <ion-col>{{item.Name}}</ion-col>
          </ion-row>
          <ion-row class="fl-booking-sub-hdr">
            <ion-col>DATE</ion-col>
            <ion-col>STATUS</ion-col>
          </ion-row>
          <ion-row class="fl-booking-dtl-txt">
            <ion-col>{{item.Date | date:"dd/MM/yyyy": 'UTC'}}</ion-col>
            <ion-col  *ngIf="item.Status" class="fl-patient-cpmt-txt">Confirmed</ion-col>
            <ion-col  *ngIf="!item.Status" class="fl-patient-incpmt-txt">Unconfirmed</ion-col>
          </ion-row>
          <ion-row class="fl-booking-sub-hdr">
              <ion-col>TIME</ion-col>
              <ion-col>URGENT</ion-col>
            </ion-row>
            <ion-row class="fl-booking-dtl-txt">
              <ion-col>{{item.TimeBlock}}</ion-col>
              <ion-col><ion-toggle  mode="ios" color="secondary" [(ngModel)]="item.IsUrgent" (ngModelChange)="UpdateUrgetStatus(item)" checked="item.IsUrgent"></ion-toggle></ion-col>
            </ion-row>
            <ion-row class="fl-booking-sub-hdr">
                <ion-col>NOTE</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{item.Notes}}</ion-col>
              </ion-row>
            
          
        </div>
      </ion-card>

      <ion-card *ngIf="!(patientAppointments?.length > 0)"style="border: 1px solid #E8EFF2;
          border-radius: 4px;box-shadow: none;">
            <div class="fl-booking-details" style="padding-right:25px;">
          <ion-row class="fl-booking-sub-hdr">
              <ion-col>No Appoinments Booked.</ion-col>
            </ion-row>
            </div>
      </ion-card>
      
    </div>


    <div style="margin-top: 20px" class="fl-booking-cntnr">
      <div style="padding:25px">
         
      <ion-item>
       
        <ion-label>Health Provider</ion-label>
        <ion-select [(ngModel)]="selectedHP"  (ionChange)="onHPSelect(selectedHP)" >
          <ion-option *ngFor="let hp of hplist" [value]="hp" [selected]="selectedHP == hp">{{hp.Name}}</ion-option>
        </ion-select>

       
      </ion-item>
      </div></div>

    <div style="margin-top: 20px" class="fl-booking-cntnr">
    <div style="padding:25px">
      <!-- https://www.npmjs.com/package/ion2-calendar-->
      <ion-calendar [(ngModel)]="date"
      (onChange)="onChange($event)"
      [options]="calendarOption"
      [type]="type"
      [format]="'YYYY-MM-DD'">
</ion-calendar>
<ion-col class="fl-patient-incpmt-txt" style="padding-left:30px;" ><span class="fl-bullet"></span><span style="padding-left:15px;"><b>UNAVAILABLE</b></span></ion-col>

<div>
    <div style="margin-top:20px; border-top: 1px solid #E5EAED;font-size: 10px;
    color: #C6D5DD;padding-top: 15px;">TELL US THE BEST TIME</div>
    <div style="padding-top:15px">
    <ion-row >
        <ion-col col-4 ><div (click)="selectSlot('1')" [ngClass]="(timeSlotIndex=='1')?'fl-time-slot fl-time-slot-bkd':'fl-time-slot'">09am - 12pm</div></ion-col>
        <ion-col col-4 ><div (click)="selectSlot('2')" [ngClass]="(timeSlotIndex=='2')?'fl-time-slot fl-time-slot-bkd':'fl-time-slot'">12pm - 14pm</div></ion-col>
        <ion-col col-4 ><div (click)="selectSlot('3')" [ngClass]="(timeSlotIndex=='3')?'fl-time-slot fl-time-slot-bkd':'fl-time-slot'">14pm - 16pm</div></ion-col>
    </ion-row>
    <ion-row >
        <ion-col col-4 ><div (click)="selectSlot('4')" [ngClass]="(timeSlotIndex=='4')?'fl-time-slot fl-time-slot-bkd':'fl-time-slot'">16pm - 18pm</div></ion-col>
        <ion-col col-4 ><div (click)="selectSlot('5')" [ngClass]="(timeSlotIndex=='5')?'fl-time-slot fl-time-slot-bkd':'fl-time-slot'">18pm - 20pm</div></ion-col>
        <ion-col col-4 ><div (click)="selectSlot('6')" [ngClass]="(timeSlotIndex=='6')?'fl-time-slot fl-time-slot-bkd':'fl-time-slot'">20pm - 22 pm</div></ion-col>
    </ion-row>
  </div>
        
</div>

</div>
  </div>
  <div style="margin-top: 20px" class="fl-booking-cntnr">
      <div style="">
          
         
            <div class="fl-booking-details" style="padding-right:25px;">
              
              
                <ion-row class="fl-booking-sub-hdr">
                    <ion-col>NOTES</ion-col>
                  </ion-row>
                  <ion-row class="fl-booking-dtl-txt">
                    
                        <ion-textarea type="text"  [(ngModel)]="notes" placeholder="note" class="fl-cnfrm-appnmnt-note"></ion-textarea>
                    
                  </ion-row>
              
            </div>
          
          
        </div>
    </div>
    <ion-row style="padding-top: 20px;">
        <button class=" button-block btnSignIn " (click)="BookAppoinmtment()">BOOK YOUR APPOITNMENT</button>
      </ion-row>
      <ion-row style="padding-top: 20px;">
          <button class=" button-block fl-note-btn " (click)="cancelClick()">CANCEL</button>
        </ion-row>
  </div>
  </div>
</ion-content>
