page-home {
}

.fl-hp-home-icon {
  // height: 70px;
  //     width: 70px;
  margin-top: 42px;
}

.fl-dashboard-patient-cntnr {
  background-color: #f9fbfc;
  height: -webkit-fill-available;
  height: calc(100% - (104px));
}

.fl-dashboard-patient-div {
  border: 1px solid #ecf1f4;
  height: 50%;
}

.fl-exstng-patient-title {
  height: 46px;
  font-size: 14px;
  color: #7a8c9f;
  letter-spacing: 0;
  text-align: center;
  height: 46px;
  margin-top: 20px;
}

.fl-btn-1 {
  background-image: linear-gradient(-139deg, #57d7fe 0%, #00fade 100%);
  border-radius: 4px;
  height: 50px;
  color: white;
  font-weight: bolder;
  font-size: 0.8em;
}

.fl-btn-2 {
  background: #c6d5dd;
  border-radius: 4px;
  height: 50px;
  color: white;
  font-weight: bolder;
  font-size: 0.8em;
}
.fl-hp-tab{
    text-align: center;font-size: 14px;
        color: #5D738B;
        letter-spacing: 0;
}