<div style="height:100%">
    <div style="    border: 1px solid #E5EAED;">


        <ion-grid>
            <ion-row>
                <ion-col col-1 style="text-align: center;" menuToggle>
                    <ion-icon name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon>
                </ion-col>
                <ion-col col-2 style="    margin-top: 3px;">
                    <ion-icon name="ios-search" style="font-size: 29px;            
                color: #C0D1D9;"></ion-icon>
                </ion-col>
                <ion-col col-6 style="text-align:center;    margin-top: -4px;">
                    <img src="assets/imgs/brand_header.png">
                </ion-col>
                <ion-col col-1></ion-col>
                <ion-col col-2 (click)="openChat()" style="text-align: center;margin-top: 4px;">
                    <ion-icon name="md-text" style="font-size: 29px;            
                color: #C0D1D9;"></ion-icon>
                </ion-col>
            </ion-row>

        </ion-grid>
    </div>
    <div class="row" style="height:40px;margin-top:6px;padding-bottom:0px;">
        <div class="col col-33 fl-hp-tab" style="    border-bottom: 1px solid #57D7FE;">PATIENT</div>
        <div class="col col-33 fl-hp-tab" >SCHEDULE</div>
        <div class="col col-33 fl-hp-tab" >ABOUT</div>
    </div>
    
    <div class="fl-dashboard-patient-cntnr">
        <div class="row fl-dashboard-patient-div">
            <div class="col col-50 fu-txt-align-centr">

                <ion-icon name="existing-patient" class="fl-hp-home-icon"></ion-icon>
                <div class="fl-exstng-patient-title" >Existing
                    <br> Patients</div>
                <div  class="fu-margin-top-20">
                    <button  class="button-block fl-btn-1">SEE ALL CLIENTS</button>
                </div>
            </div>
            <div class="col col-50 fu-txt-align-centr" >

                <ion-icon name="add-patient" class="fl-hp-home-icon"></ion-icon>


                <div class="fl-exstng-patient-title">Add
                    <br> Patients</div>
                <div class="fu-margin-top-20">
                    <button  class="button-block fl-btn-2">ADD PATIENTS</button>
                </div>
            </div>
        </div>
        <div class="row" style="height:50%">
            <div class="col col-50 fu-txt-align-centr" >

                <ion-icon name="existing-assignment" class="fl-hp-home-icon"></ion-icon>

                <div class="fl-exstng-patient-title">Existing
                    <br> Assessments</div>
                <div class="fu-margin-top-20">
                    <button  class="button-block fl-btn-1">SEE ALL ASSESSMENTS</button>
                </div>
            </div>
            <div class="col col-50 fu-txt-align-centr" >
                <ion-icon name="add-assignment" class="fl-hp-home-icon"></ion-icon>
                <div class="fl-exstng-patient-title">Create
                    <br> Follow Up
                    <br>Questions</div>
                <div class="fu-margin-top-20">
                    <button  class="button-block fl-btn-2">NEW FOLLOW UP QUESTIONS</button>
                </div>
            </div>
        </div>
    </div>
</div>