<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col col-2  class="fu-nav-more">
        <!-- <ion-icon name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon> -->
      </ion-col>
      <ion-col col-8 class="fu-txt-align-centr">
        <img  src="assets/imgs/brand_header.png">
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
</ion-grid>
</ion-header>
<ion-content overflow-scroll="false" class="screen">
  <div class="content fl-signup-parent" >
    <label  class="fl-lbl-wlcm">
      <b class="fl-txt-clr-gray">Welcome back</b>
      <br>
      <span  class="fl-txt-clr-off">Sign up to continue
        <br>to Follow Up</span>
    </label>
    <br>
    <br>
    <div>
      <ion-grid style="width: 260px;">
        <ion-row  class="fl-dctr-pat-select">
          <ion-col col-6 class="fl-padng-0">
            <button class="fl-btn-patient-doctor" (click)="selectPatientSignIn()" [ngClass]="(patient==true)?'fl-btn-actv-dtr-ptn':'fl-btn-inactv-dtr-ptn'">Patient</button>
          </ion-col>
          <ion-col col-6  class="fl-padng-0">
            <button class="fl-btn-patient-doctor" (click)="selectDoctorSignIn()" [ngClass]="(patient==false)?'fl-btn-actv-dtr-ptn':'fl-btn-inactv-dtr-ptn'">Doctor</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="fl-user-wrapper" >

      <div style="padding-top: 21px;
      padding-bottom: 21px;    margin: auto;width:98px;position: relative;">
      <input type="file" id="btnUpload3" value="Upload" (change)="selectProfileImage($event)" />
        <ion-icon *ngIf="userImageFile == null || profileImage == null || profileImage == ''" name="userIcon" ></ion-icon>
        <div *ngIf="userImageFile !=null && profileImage != null" class="fl-patient-img-cntnr">
          <!--  <img src="../assets/imgs/HP.png" class="fl-patient-img" style=""/>-->
            <img [src]="profileImage" style="width:100px;height:100px;" class="fl-patient-img" />
        </div>
        <ion-icon *ngIf="userImageFile == null || profileImage == null || profileImage == ''" name="userIconUpload" style="top: -110px;
        position: relative;
        left: 29px;
        display: inline;" >
      </ion-icon>
        <span></span>

      </div>
    </div>
    <div  class="fu-txt-align-centr fl-mrgn-top-15">
      <ion-checkbox color="turquoise" (click)="consentFormChecked()" checked="false" class="fl-sign-up-checkbx"></ion-checkbox>
      <span  class="fl-cnscnt-form">I AGREE TO THE FOLLOW UP
        <span  class="fl-spn-cnscnt">&nbsp;CONSENT FORM</span>
      </span>
    </div>
    <form class="formLogin" [formGroup]="registerForm" novalidate>
      <div>
        <ion-list>
          <ion-item>
            <ion-input formControlName="name" type="text" [(ngModel)]="regUser.Name" placeholder="NAME" class="signInInput"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label class="signInInput"  class="fl-mrgn-lft-10">GENDER</ion-label>
              <ion-select formControlName="gender" multiple="false" [(ngModel)]="regUser.UserGender">
                  <ion-option value="2">Female</ion-option>
                  <ion-option value="1">Male</ion-option>
                </ion-select>
           <!-- <ion-input  name="gender" type="text" [(ngModel)]="regUser.Gender" placeholder="SEX" class="signInInput"> </ion-input> -->
          </ion-item>
          <!--<ion-item>
            <ion-input type="text" [(ngModel)]="regUser.Name" placeholder="RACE" class="signInInput"> </ion-input>
          </ion-item>-->
          <!-- <ion-item>
            <ion-input  name="Birthdate" type="text" [(ngModel)]="regUser.Birthdate" placeholder="DATE OF BIRTH (MM/DD/YYYY)" class="signInInput"> </ion-input>
          </ion-item> -->
          <ion-item>
              <ion-label class="signInInput" style="padding-left:8px;">DATE OF BIRTH (MM/DD/YYYY)</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="regUser.Birthdate" formControlName="Birthdate" class="signInInput"></ion-datetime>
            </ion-item>
          <ion-item>
            <ion-input formControlName="email" type="text" [(ngModel)]="regUser.Email" placeholder="EMAIL ADDRESS" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="PhoneNumber" type="text" [(ngModel)]="regUser.PhoneNumber" placeholder="PHONE NUMBER" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input formControlName="Address" type="Address" [(ngModel)]="regUser.Address" placeholder="ADDRESS" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item *ngIf="patient">
            <ion-input formControlName="InsuranceCompany" type="text" [(ngModel)]="regUser.InsuranceCompany" placeholder="INSURANCE COMPANY" class="signInInput"> </ion-input>
          </ion-item>

          <ion-item *ngIf="!patient">
            <ion-input formControlName="StateLicenseNumber" type="text" [(ngModel)]="regUser.StateLicenseNumber" placeholder="NPI OR STATE LICENSE NUMBER " class="signInInput"> </ion-input>
          </ion-item>

          <ion-item *ngIf="!patient">
              <label class="signInInpu fl-mrgn-lft-10">UPLOAD YOUR MEDICAL LICENSE</label>
              <input type="file" id="btnUpload2" value="Upload" (change)="selectMedLicense($event)" />

             <!-- <ion-input  class="signInInput" disabled="true" placeholder="UPLOAD YOUR MEDICAL LICENSE"></ion-input>  -->
              <ion-icon *ngIf="medLicenseFile == null"  style="color:#00FADE;width: 14px;" name="fileUpload"  item-right></ion-icon>
              <ion-icon *ngIf="medLicenseFile != null"  style="color:#00FADE;width: 14px;" name="md-checkmark" item-right></ion-icon>

            <!-- <ion-label>UPLOAD YOUR MEDICAL LICENSE</ion-label>   -->
          </ion-item>
          <ion-item *ngIf="!patient">
              <label class="signInInpu fl-mrgn-lft-10">UPLOAD FOR GOVERNMENT ISSUED ID</label>
              <input type="file" id="btnUpload1" value="Upload" (change)="selectGovIssuedID($event)" />
             <!-- <ion-input class="signInInput" disabled="true" placeholder="UPLOAD FOR GOVERNMENT ISSUED ID" style="opacity: initial;">UPLOAD FOR GOVERNMENT ISSUED ID</ion-input>-->
              <ion-icon *ngIf="govIssuedIDFile == null" name="fileUpload" style="color:#00FADE;width: 14px;" item-right></ion-icon>
              <ion-icon *ngIf="govIssuedIDFile != null" name="md-checkmark"  style="color:#00FADE;width: 14px;" item-right></ion-icon>
             <!-- <ion-label>UPLOAD FOR GOVERNMENT ISSUED ID</ion-label>
            <input type="file" id="btnUpload1" value="Upload" (change)="selectGovIssuedID($event)" />  -->
          </ion-item>
          <ion-item *ngIf="!patient">
            <ion-label class="signInInput"  class="fl-mrgn-lft-10">PROFESSION</ion-label>
            <ion-select formControlName="UserProfession" multiple="false" [(ngModel)]="regUser.UserProfession" >
                <ion-option *ngFor="let profession of professionList; let i = index" value="{{i}}" >{{profession}}</ion-option>

            </ion-select>
          </ion-item>
          <ion-item *ngIf="!patient">
            <ion-label class="signInInput" class="fl-mrgn-lft-10">YOUR SPECIALITY</ion-label>
            <ion-select formControlName="speciality" multiple="true" [(ngModel)]="regUser.UserSpecialty" >
                <ion-option *ngFor="let speciality of specialityList; let i = index" value="{{i}}" >{{speciality}}</ion-option>

            </ion-select>
          </ion-item>
          <ion-item>
            <ion-input formControlName="password" [(ngModel)]="regUser.Password"  type="password" placeholder="PASSWORD" class="signInInput"> </ion-input>
          </ion-item>
          <div  class="fu-txt-align-centr fl-mrgn-top-15">
            <ion-checkbox  (click)="termsAcceptedChecked()" color="turquoise" checked="false" class="fl-sign-up-checkbx"></ion-checkbox>
            <span  class="fl-spn-iagree">I AGREE TO THE FOLLOW UP
              <span  class="fl-spn-cnscnt">&nbsp;TERMS OF SERVICE</span>&nbsp;AND
              <span  class="fl-spn-cnscnt">&nbsp;PRIVACY POLICY</span>
            </span>
          </div>
        </ion-list>
      </div>
      <div>
        <p class="loginTxt"></p>
      </div>
      <div>
        <button [disabled]="!IsTermsAcceptedChecked" class="btnSignIn button-block" (click)="signUp()">SIGN UP</button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <p class="loginTxt" (click)="backToLoginPage()">
    Already have account?
    <span style="text-decoration: underline;"> SIGN IN</span>
  </p>
</ion-content>
