.fu-nav-more {
  text-align: center;
  margin-top: 3px;
}



.fl-mrgn-top-15 {
  margin-top: 15px;
}

.logoWrapper {
  width: 170px;
  margin: 0 auto;
  margin-top: 20px;
}

.logoTop {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.screen {
  background-color: #e7e5e6;
  padding-right: 30px;
  padding-left: 30px;
}

.formLogin {
  margin-top: 30px;
}

.item-margin {
  margin-bottom: 10px;
}

.fl-signup-parent {
  box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.30);
  background-color: #fff;
  padding: 30px;
  margin-top: 20px;
  border-radius: 12px;
}

.fl-lbl-wlcm {
  font-size: 23px;
}

.fl-txt-clr-gray {
  color: #7a8c9f;
}

.fl-txt-clr-off {
  color: #d3d1d1;
}

.fl-dctr-pat-select {
  background: #ffffff;
  border: 1px solid #d8e5ea;
  border-radius: 4px;
}

.fl-padng-0 {
  padding: 0px;
}

.fl-btn-patient-doctor {
  
  width: 124px;
  height: 35px;
  border: 1px;
  
  border-radius: 4px;
}


.fl-btn-actv-dtr-ptn{
  color: #fff;
  background-image: linear-gradient(-139deg, #57d7fe 0%, #00fade 100%);
}
.fl-btn-inactv-dtr-ptn{
  color: #c0d1d9;
  background-color: #fff;
}
.fl-cnscnt-form {
  
  font-size: 11px;
  color: #c6d5dd;
  letter-spacing: 0;
}

.fl-spn-cnscnt {
  color: #00fade;
  border-bottom: 1px solid #00fade;
}

.fl-mrgn-lft-1 {
  margin-left: 10px;
}

.btnSignIn {
  background-image: linear-gradient(-139deg, #57d7fe 0%, #00fade 100%);
  border-radius: 4px;
  height: 50px;
  color: #fff;
}

.loginTxt {
  text-align: center;
  
  font-size: 12px;
  color: #c6d5dd;
  letter-spacing: 0;
  font-weight: 900;
}

.fl-sign-up-checkbx {
  width: 24px;
  margin-bottom: -4px;
}

.checkbox-md .checkbox-checked {
  border-color: #00fade;
  background-color: #00fade;
}

.signInInput {
  font-size: 10px;
  //color: #c6d5dd;
 // color: #5D738B;
  //color:rgb(198, 213, 221)
  color: darkgrey;
}

.text-input[disabled] {
  opacity: initial;
}

.fl-mrgn-lft-10 {
  margin-left: 10px;
  font-size: 10px;
  color:darkgrey;
}

.fl-spn-iagree {
  
  font-size: 11px;
  color: #c6d5dd;
  letter-spacing: 0;
}
// .formLogin .select-md .select-icon .select-icon-inner {
  
//   color: #00FADE;
  
// }
.fl-user-wrapper{
  text-align: center;
  height: 140px;
}

.select-text{
  font-size: 0.9em;
  color: #999;
}

#btnUpload2 {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}


#btnUpload1
{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}

#btnUpload3
{
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 70%;
  left: 0;
  z-index: 999;
}