<!-- Generated template for the BackButtonComponent component -->

<div class="fl-profile-back" (click)="goToPrevpage()" >
  <ion-icon name="ios-arrow-back" style="margin-left: 12px;color:#7A8C9F" item-right></ion-icon>
  <span style="color:#7A8C9F">BACK</span> </div>