page-add-patient-details {

}
.fl-add-patient-hdr{
    font-size: 22px;
    color: #A0B8C3;
}



.fl-add-patient-cntnr{
    background: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);
    border-radius: 8px;
   
    padding: 15px;
    }