<!--
  Generated template for the PatientProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-navbar></top-navbar>
  <hptabs></hptabs>
</ion-header>
<ion-content>
  <div style="height:100%" class="fl-dctr-schedule-cntnr">
    <back-button></back-button>
    <div class="fl-add-patient-cntnr">
      <div class="fl-add-patient-hdr">Add patients</div>
      <div style="padding-top: 20px;">
        <ion-list>
          <ion-item>
            <ion-input type="text" name="name" placeholder="NAME" class="signInInput"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="sex" placeholder="SEX" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="race" placeholder="RACE" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="height" placeholder="HEIGHT" class="signInInput"> </ion-input>
            <ion-input type="text" name="weight" placeholder="WEIGHT" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="bp" placeholder="B.P." class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="email" placeholder="EMAIL ADDRESS" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="phnnumbr" placeholder="PHONE NUMBER" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="addrs" placeholder="ADDRESS" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="pc" placeholder="POLICY HOLDER" class="signInInput"> </ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" name="ic" placeholder="INSURANCE COMPANY" class="signInInput"> </ion-input>
          </ion-item>

        </ion-list>
      </div>
      <ion-row style="margin-top: 15px;">
        <button class=" button-block btnSignIn">ADD PATIENTS</button>
      </ion-row>
    </div>
  </div>
</ion-content>