page-assessments {

}
.fl-assessment-cntnr{


background-color: #F9FBFC;
height: -webkit-fill-available;
// height: calc(100% - (104px));
padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
}
.fl-ass-tile{
    
    border-radius: 8px;
    //width:100px;
    //height:100px;
    box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);
    
}
.fl-create-assessment{
    color: #C0D1D9;
    background-color: #F9FBFC;
    border: 1px solid #D1DEE4;
}
.fl-sub-assessment{
    color: #FFFFFF;
    background-color: #32E6F0;
}
.fl-assessment{
    color: #7A8C9F;
    background-color:  #FFFFFF;
}
.fl-ass-icon-wrapper{
    text-align: right;
    padding-right: 7px;
    padding-top: 7px;
}
.fl-ass-title-wrapper{
padding-top: 5px;
padding-left: 5px;
}
.fl-assessment-hp-dashbrd{
    color: #7A8C9F;
    background-color:  #FFFFFF;
    height: 0;
    padding-bottom: 100%;
}