<!--
  Generated template for the AssessmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-navbar></top-navbar>
  <hptabs></hptabs>
</ion-header>
<ion-content>
  <div style="height:100%;background-color: #f9fbfc;height:100%;">
    <div class="fl-assessment-cntnr" style="">
      <div>
        <ion-row>
          <back-button></back-button>
        </ion-row>
        <ion-row class="fl-patient-header row">
          <ion-col col-6 class="fl-exstng-patient-hdr">ASSESSMENTS CREATED BY YOU</ion-col>
          <ion-col col-5 class="fl-exstng-txt-srt" style="">
            SORTED BY ALL
          </ion-col>
          <ion-col col-1 style="font-size: 9px;
          color: #C0D1D9;">
            <ion-icon name="filter" class=""></ion-icon>
          </ion-col>
        </ion-row>
      </div>

        <!-- <ion-row class="row" wrap responsive-sm>
          <ion-col class="col" width-50 *ngFor="let assessment of existingAssessments">
            <div class="fl-ass-tile fl-assessment">
              <div class="fl-ass-icon-wrapper" (click)="editAssessment(assessment.AssessmentGuid)">
                <ion-icon name="create_main_assessment" item-right></ion-icon>
              </div>
              <div class="fl-ass-title-wrapper">{{assessment.Title}}</div>
            </div>
          </ion-col>
        </ion-row> -->

        <div *ngFor="let assessment of existingAssessments; let i = index">
            <ion-row  *ngIf="i % 3 == 0">

        <ion-col col-4  *ngIf="existingAssessments[i]">
            <div *ngIf="existingAssessments[i]">
                <div class="fl-ass-tile fl-assessment-hp-dashbrd" >
                  <div class="fl-ass-icon-wrapper">
                    <ion-icon name="fl-edit-assignment" (click)="editAssessment(existingAssessments[i].AssessmentGuid)" item-right></ion-icon>
                  </div>
                  <div class="fl-ass-title-pd-wrapper">{{existingAssessments[i].Title}}</div>
                </div>
              </div>
        </ion-col>
       
        <ion-col col-4  *ngIf="existingAssessments[i+1]">
            <div>
                <div class="fl-ass-tile fl-assessment-hp-dashbrd">
                  <div class="fl-ass-icon-wrapper">
                    <ion-icon name="fl-edit-assignment" (click)="editAssessment(existingAssessments[i+1].AssessmentGuid)" item-right></ion-icon>
                  </div>
                  <div class="fl-ass-title-pd-wrapper">{{existingAssessments[i + 1 ].Title}}</div> 
                </div>
              </div>
        </ion-col>
       
        
            <ion-col col-4 *ngIf="existingAssessments[i+2]">  
          <div >
                <div class="fl-ass-tile fl-assessment-hp-dashbrd">
                  <div class="fl-ass-icon-wrapper">
                    <ion-icon name="fl-edit-assignment" (click)="editAssessment(existingAssessments[i+2].AssessmentGuid)" item-right></ion-icon>
                  </div>
                   <div class="fl-ass-title-pd-wrapper">{{existingAssessments[i +2].Title}}</div> 
                </div>
              </div>
        </ion-col>
        
</ion-row>
      </div>

      
    </div>
  </div>
</ion-content>