.fl-agrmnt-logoWrapper
{
    width: 170px;
    margin: 0 auto;
    margin-top: 120px;

}
.fl-footer{
background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
height: 10px;
position:absolute;
   bottom:0;
   width:100%;
}
.fl-agrmt-content{
    box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);  background-color: #fff; padding: 30px; margin-top: 70px; border-radius: 12px;margin-left: 13px;
  margin-right: 13px;
}

  .fl-sa-hdr{
   
    font-size: 17px;
    color: #7A8C9F;
    letter-spacing: 0;
  }
  .fl-sa-p{
    
    font-size: 13px;
    color: #7A8C9F;
    letter-spacing: 0;
}