<ion-content overflow-scroll="false" class="screen">

  <div class="fl-agrmnt-logoWrapper">
    <img class="logoTop" src="assets/imgs/brand_header.png">
  </div>



  <div class="fl-agrmt-content">




    <div>
      <h3 class="fl-sa-hdr">Service Agreement</h3>
      <p class="fl-sa-p">Quisque ut erat non turpis iaculis gravida vel ut mi. Cras blandit et leo eget luctus ?</p>



      <div>
        <button class="btnSignIn button-block" (click)="acceptServiceAgmnt()">ACCEPT AND CONTINUE</button>
      </div>

    </div>


  </div>
  <div class="fl-footer"></div>
</ion-content>