<!--
  Generated template for the AddHealthcarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
    <ion-navbar>
      <ion-title name="test">Settings</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
      <ion-card>
          <ion-row>
              <ion-col col-12 style="text-align: center;font-size: 13px;
              color: #7A8C9F;">
              Change your profile Picture.
            </ion-col>
          </ion-row>
          <div class="fl-user-wrapper" >
         
              <div style="padding-top: 21px;
              padding-bottom: 21px;    margin: auto;width:98px;position: relative;">
              <input type="file" id="btnUpload3" value="Upload" (change)="selectProfileImage($event)" />  
                <ion-icon *ngIf="!showImage" name="userIcon" ></ion-icon>
                <div *ngIf="showImage" class="fl-patient-img-cntnr">
                    <!--  <img src="../assets/imgs/HP.png" class="fl-patient-img" style=""/>-->
                      <img  [src]="profileImage" style="width:100px;height:100px;" class="fl-patient-img" />
                  </div>
               <!-- src="{{currentUserImage}}" -->
                <ion-icon name="userIconUpload" style="top: -110px;
                position: relative;
                left: 29px;
                display: inline;" > 
              </ion-icon>
                <span></span>
         
              </div>
            </div>
            <div  class="fu-txt-align-centr fl-mrgn-top-15">
              <ion-checkbox color="turquoise" (click)="consentFormChecked()" [checked]="IsConsentFormChecked" class="fl-sign-up-checkbx"></ion-checkbox>
              <span  class="fl-cnscnt-form">I AGREE TO THE FOLLOW UP
                <span  class="fl-spn-cnscnt">&nbsp;CONSENT FORM</span>
              </span>
            </div>
    
            <ion-row style="padding-top: 20px;margin-bottom: 20px;">
                <ion-col col-12 >
                    <button class="btnSignIn button-block" (click)="updateProfileImage()">Update Picture</button>
                </ion-col>
            </ion-row>

      </ion-card>
      <ion-card *ngIf="!isPatient">
<div style="height:100%" padding >

    <ion-row>
        <ion-col col-12 style="text-align: center;font-size: 13px;
        color: #7A8C9F;">
        Select your busy days from calendar. You would be shown as unavailable in calendar for selected days.
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12 >
            <div style="margin-top: 20px" class="fl-booking-cntnr">
                <div style="padding:25px">
                  <!-- https://www.npmjs.com/package/ion2-calendar-->
                  <ion-calendar [(ngModel)]="dateMulti"
                  (onChange)="onChange($event)"
                  [options]="calendarOption"
                  [type]="type"
                  [format]="'YYYY-MM-DD'">
            </ion-calendar>
            </div>
              </div>
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12 >
            <button class="btnSignIn button-block" (click)="addBusyDays()">Save</button>
        </ion-col>
    </ion-row>
	<!--
	<div>  
        <ion-label>Upload</ion-label>  
        <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" />  
    </div> 
-->
</div>
</ion-card>
</ion-content>