<!-- Generated template for the ChatComponent component -->
<!--https://stackblitz.com/edit/ionic3-chat?file=pages%2Fchat%2Fchat.component.ts-->
<!-- https://github.com/HsuanXyz/ionic3-chat-->
<ion-header>
    
      <ion-navbar>
        <ion-title name="test">{{toUserInfo.ContactName}}</ion-title>
      </ion-navbar>
    </ion-header>
    <ion-content>
      <div class="message-wrap">
    
        <div *ngFor="let msg of msgList"
             class="message"
             [class.left]="!msg.FromUser"
             [class.right]="msg.FromUser">
         <!-- <img class="user-img" [src]="msg.userAvatar" alt="" >
          <img class="user-img" [src]="msg.userAvatar" alt="" >-->
          <img *ngIf="toUserImage == null && msg.FromUser && isPatient" src="assets/imgs/patientdicon.png" class="user-img" >
          <img *ngIf="toUserImage == null && msg.FromUser && !isPatient" src="assets/imgs/hpicon.jpg" class="user-img" >
          <img *ngIf="toUserImage != null && msg.FromUser" src="{{toUserImage}}" class="user-img">


          <img *ngIf="currentUserImage == null && !msg.FromUser && isPatient" src="assets/imgs/patientdicon.png" class="user-img" >
          <img *ngIf="currentUserImage == null && !msg.FromUser && !!isPatient" src="assets/imgs/hpicon.jpg" class="user-img">
          <img *ngIf="currentUserImage != null && !msg.FromUser" src="{{currentUserImage}}" class="user-img">

          <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
          <div class="msg-detail">
            <div class="msg-info">
              <p>
                <!-- {{msg.UserName}}&nbsp;&nbsp;&nbsp;{{msg.time | relativeTime}}</p> -->
                {{msg.UserName}}&nbsp;&nbsp;&nbsp;{{msg.MessageDate |relativeTime}}</p>
            </div>
            <div class="msg-content">
              <span class="triangle"></span>
              <p class="line-breaker ">{{msg.Message}}</p>
            </div>
          </div>
        </div>
    
      </div>
    </ion-content>
    
    <ion-footer no-border [style.height]="showEmojiPicker ? '270px' : '64px'">
      <div class="input-wrap" style="background: #FFFFFF;
      border: 2px solid #E0EAEF;
      border-radius: 4px;">
        <!-- <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
          <ion-icon name="md-happy"></ion-icon>
        </button> -->
        <textarea #chat_input
                  placeholder="Type here"
                  [(ngModel)]="editorMsg"
                  (keyup.enter)="sendMessage()"
                  (focusin)="onFocus()">
        </textarea>
        <button ion-button clear icon-only item-right (click)="sendMessage()" class="fl-btn-send-msg">
          <span>
          <ion-icon name="md-add" ></ion-icon>
        </span>
        </button>
      </div>
      <!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->