<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div style="background-color:#F9FBFC;height: 100%;">
    <div style="height:60px;">
        <ion-grid >
            <ion-row>
              <ion-col col-2  class="fu-nav-more">
                <ion-icon name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon>
              </ion-col>
              <ion-col col-8 class="fu-txt-align-centr">
                <img  src="assets/imgs/brand_header.png">
              </ion-col>
              <ion-col col-2></ion-col>
            </ion-row>
        </ion-grid>
      </div>
    <div style="height:calc(100% - 60px)">
      
      <div class="content fl-forgot-pswrd-parent fl-forgot-cntnr" >
        <div >
        <div  class="fl-change-pswrd-lbl-wlcm">
          <b class="fl-txt-clr-gray">Hi {{userName}}</b>
          <br>
          <span  class="fl-txt-clr-off">Please set up a new password
            <br>to move forward.</span>
          </div>
        <br>
       
       
     
        <form class="" name="forgotPasswordForm" novalidate style="">
          <div style="padding-bottom: 20px">
              <ion-item class="fu-padding-left-0">
                <ion-input type="password" placeholder="YOUR NEW PASSWORD" [(ngModel)]="changePasswordObj.NewPassword" name="nsewPassword"  class="fl-change-password-input">
                   
                </ion-input>
                <ion-icon *ngIf="((changePasswordObj.NewPassword == changePasswordObj.ConfirmPassword) && changePasswordObj.NewPassword)" name="md-checkmark" style="color: #57D7FE;font-size: 1.5em;" item-right></ion-icon>
              </ion-item>
              <ion-item class="fu-padding-left-0">
                  <ion-input type="password" placeholder="CONFIRM YOUR PASSWORD" [(ngModel)]="changePasswordObj.ConfirmPassword" name="confirmPassword"  class="fl-change-password-input">
                     
                  </ion-input>
                  <ion-icon *ngIf="((changePasswordObj.NewPassword == changePasswordObj.ConfirmPassword) && changePasswordObj.NewPassword)" name="md-checkmark" style="color: #57D7FE;font-size: 1.5em;" item-right></ion-icon>
                </ion-item>
          </div>
          <div>
            <button class="btnSignIn button-block" (click)="ChangePassword()" style="font-weight: bolder;">OK</button>
          </div>
        </form>
      </div>
     
      </div>
    </div >
      <div class="forgot-password-footer">
      
    <!--  <p class="loginTxt" >
          GOT TEMPORORY PASSWORD?
          <span style="text-decoration: underline;" (click)="goToSignIN()" > SIGN IN</span>
        </p> -->
    </div>
      
    
    </div>