<ion-menu type="push" [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">

        <ion-toolbar>
          <ion-title style="text-align: center;">
              <img class="" style="width: 150px;" src="assets/imgs/brand_header.png" >
          </ion-title>
        </ion-toolbar>
      
        <ion-content >
         
          <div style="padding-top:60px;">
            <!--div to show patient icon and his details in case patient logged in-->
          <div class="fl-patient-detail-cntnr"  *ngIf="sessionManagerProvider.isPatient">
            <div class="fl-patient-img-cntnr">
                    <ion-icon *ngIf="!sessionManagerProvider.userImage" name="userIcon" ></ion-icon>
             
                <img *ngIf="sessionManagerProvider.userImage" src="data:image/png;base64,{{sessionManagerProvider.userImage}}" class="fl-patient-img" style=""/>
            </div>
              
              <div class="fl-client-name">{{sessionManagerProvider.uName}}</div>
              <!-- <div class="fl-client-id">Client ID: 09756454 </div> -->
          </div>
          <!--div to show my personal code option in case of HP logged in-->
          <div class="fl-patient-detail-cntnr"  *ngIf="!sessionManagerProvider.isPatient">
              <ion-row style="" class="fl-add-hp-cntnr" *ngIf="!sessionManagerProvider.isPatient">
                  <ion-col col-10 style="padding-top: 20px;"  (click)="myPersonalCode()" menuClose>My Personal Code</ion-col>
                  
                  <ion-col col-2> <ion-icon name="ios-arrow-forward-outline" class="fl-add-hp-arrow"></ion-icon></ion-col>
                </ion-row>
          </div>
          <div class="fl-cntnr-menu-opt-bottom"> 
            <!--show this option only if logged in user is patient-->
              <ion-row style="" class="fl-add-hp-cntnr" *ngIf="sessionManagerProvider.isPatient">
                  <ion-col col-10 (click)="addHealthProvider()" >Add Healthcare <br>Provider</ion-col>
                  
                  <ion-col col-2> <ion-icon name="ios-arrow-forward-outline" class="fl-add-hp-arrow"></ion-icon></ion-col>
                </ion-row>
            <ion-row class="fl-option-txt">
              <ion-col (click)="openSettings()" menuClose>Settings</ion-col>
            </ion-row>
            <ion-row class="fl-option-txt">
                <ion-col (click)="logOut()" menuClose>Logout</ion-col>
              </ion-row>
          </div>
        </div>
        </ion-content>
      
      </ion-menu>

<ion-nav  id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>


