// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"), local("Open-Sans-Regular"), url("../assets/fonts/open-sans.woff2") format("woff"), url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

* {
  font-family: "Open Sans";
  // font-size:30px;
}
//using svg as icon
//https://golb.hplar.ch/2018/01/Custom-SVG-icons-in-Ionic.html
ion-icon {
    // &[class*="custom-"] {
    //     mask-size: contain;
    //     mask-position: 50% 50%;
    //     mask-repeat: no-repeat;
    //     background: currentColor;
    //     width: 1em;
    //     height: 1em;
    //   }
  &[class*="existing-assignment"] {
    content: url(../assets/icon/Healthcare_Clients_Existing_Assessments.svg);
   
  }
  &[class*="existing-patient"] {
    content: url(../assets/icon/Healthcare_Clients_Existing_Patients.svg);
  }
  &[class*="add-patient"] {
    content: url(../assets/icon/Healthcare_Clients_New_Patient.svg);
  }
  &[class*="add-assignment"] {
    content: url(../assets/icon/Healthcare_Clients_New_Assessments.svg);
  }
  &[class*="filter"] {
    content: url(../assets/icon/Healthcare_Sort.svg);
  }
  &[class*="fileUpload"] {
    content: url(../assets/icon/SignUp_Upload_Doc.svg);
  }
  &[class*="userIcon"] {
    content: url(../assets/icon/SignUp_User.svg);
  }
  &[class*="userIconUpload"] {
    content: url(../assets/icon/SignUp_Upload.svg);
  }
  &[class*="fl-create-assignment"] {
    content: url(../assets/icon/create_assessment.svg);
  }
  &[class*="fl-createsub-assignment"] {
    content: url(../assets/icon/create_assessment.svg);
  }
  &[class*="create_main_assessment"] {
    content: url(../assets/icon/create_main_assessment.svg);
  }
  &[class*="fl-edit-assignment"] {
    content: url(../assets/icon/Healthcare_Edit.svg);
  }
  &[class*="fl-book-vst-icon"] {
    content: url(../assets/icon/Patient_Booking.svg);
  }
  &[class*="fl-send-msg-dctr-icon"] {
    content: url(../assets/icon/Patient_Message.svg);
  }
  &[class*="fl-edt-msg"] {
    content: url(../assets/icon/Patient_NewMessage.svg);
  }
  
  
  
  
}

/*common classes for whole application */
.fu-txt-align-centr {
    text-align: center;
  }
.fu-margin-top-20{
    margin-top:20px;
}
/*ionic navbar*/
.header-md::after {
  background-image: none;
}
.fu-padding-left-0{
  padding-left: 0px;
}
.fl-cntnr-menu-opt-bottom{
  position: fixed;
  bottom: 15%;
  padding-left: 30px;
  color: #9CB5C1;
  //font-size: 1.4em;
  width: 90%;
}
.fl-add-hp-arrow{
  color: #23EDEB ;
  padding-top: 18px;
}
.fl-add-hp-cntnr{
  border-bottom: 1px solid #E1EAEE;
  height: 80px;
  font-size: 1.4em;
}
.fl-option-txt{
  font-size: 1.3em;
}
.fl-patient-detail-cntnr{
  position: fixed;
  top: 20%;
  padding-left: 30px;
  color: #9CB5C1;
  //font-size: 1.4em;
  width: 90%;
  text-align: center;
}
.fl-patient-img-cntnr{
  border-radius: 50%;
}
.fl-patient-img{
  width:77px;height:77px;border-radius: 50%;    border: 1px solid #E5EAED;
}
.fl-client-name{
  font-size: 16px;
  color: #7A8C9F;
}

.fl-client-id{
  font-size: 11px;
  color: #CBD9E0;
}


.fl-textwrap-result{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


button.days-btn.today {
  border-radius: 50%;
  background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
  
}
ion-calendar-month .primary .days .today p {
  color: white;
}

button.days-btn.dateunavailable {
  border-radius: 60%;
 border:1px solid red;
  opacity: 1;
}
