<!-- Generated template for the PatienttabsComponent component -->
<!-- Generated template for the HptabsComponent component -->
<div class="row" style="height:40px;margin-top:6px;padding-bottom:0px;">
    <div class="col col-3 fl-hp-tab" style="    " (click)="selectDashboard()" [ngClass]="(selectedTab=='dashbaord')?'selectedTab':''">DASHBOARD</div>
    <div class="col col-3 fl-hp-tab" (click)="selectResult()" [ngClass]="(selectedTab=='result')?'selectedTab':''">RESULT</div>
    <div class="col col-3 fl-hp-tab" (click)="selectSchedule()" [ngClass]="(selectedTab=='schedule')?'selectedTab':''">SCHEDULE</div>
    <div class="col col-3 fl-hp-tab" (click)="selectAbout()" [ngClass]="(selectedTab=='about')?'selectedTab':''">ABOUT</div>
</div>

