<!-- Generated template for the HptabsComponent component -->
<div class="row" style="height:40px;margin-top:6px;padding-bottom:0px;">
    <div class="col col-33 fl-hp-tab" style="    " (click)="selectPatient()" [ngClass]="(selectedTab=='patient')?'selectedTab':''">PATIENT</div>
    <div class="col col-33 fl-hp-tab" (click)="selectSchedule()" [ngClass]="(selectedTab=='schedule')?'selectedTab':''">SCHEDULE</div>
    <div class="col col-33 fl-hp-tab" (click)="selectAbout()" [ngClass]="(selectedTab=='about')?'selectedTab':''">ABOUT</div>
</div>
