<!--
  Generated template for the AssessmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <top-navbar></top-navbar>
    <hptabs></hptabs>
  </ion-header>
  <ion-content>
    <div style="height:100%;background-color: #f9fbfc;height:100%;">
      <div class="fl-assessment-cntnr" style="">
        <div>
          <ion-row class="fl-patient-header row">
            <ion-col col-7 class="fl-exstng-patient-hdr">ASSESSMENTS CREATED BY DOCTORS</ion-col>
            <ion-col col-4 class="fl-exstng-txt-srt" style="">
              SORTED BY ALL
            </ion-col>
            <ion-col col-1 style="font-size: 9px;
            color: #C0D1D9;">
              <ion-icon name="filter" class=""></ion-icon>
            </ion-col>
          </ion-row>
        </div>
        
        
        <div>
          <div class="fl-ass-tile fl-assessment">
            <div class="fl-ass-icon-wrapper">
              <ion-icon name="fl-edit-assignment" (click)="picker.open()" item-right></ion-icon>
            </div>
            <div class="fl-ass-title-wrapper">Assessments<br/>
                [Name 01]</div>
          </div>
        </div>
  
  <!--code to display 3 tiles in one row-->
        <!--<div ng-repeat="number in numbers">
            <div class="row" ng-if="$index % 3 == 0">
              <div class="col col-33">{{numbers[$index]}}</div>
              <div class="col col-33">{{numbers[$index + 1]}}</div>
              <div class="col col-33">{{numbers[$index + 2]}}</div>
            </div>
          </div>
        $scope.numbers = [1, 2, 3, 4, 5, 6];
  -->
  
      </div>
      <div class="row fl-sbmt-quiz-footer">
          <button class="btnSignIn button-block" >ADD ASSESSMENTS</button>
      </div>
     
    </div>
  </ion-content>