<!-- Generated template for the TopNavbarComponent component -->
<div style="    border: 1px solid #E5EAED;">
    
    
            <ion-grid>
                <ion-row>
                    <ion-col col-1 style="text-align: center;"  > 
                        <!-- <ion-icon name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon> -->
                         <ion-icon item-start icon-only  menuToggle name="md-more" style="color: #57D7FE;font-size: 2.5em;"></ion-icon>  
                    </ion-col> 
                    <ion-col col-2 style="    margin-top: 3px;    text-align: center;" (click)="search()">
                        <ion-icon name="ios-search" style="font-size: 29px;            
                    color: #C0D1D9;"></ion-icon>
                    </ion-col>
                    <ion-col col-6 style="text-align:center;    margin-top: -2px;">
                        <img src="assets/imgs/brand_header.png">
                    </ion-col>
                    <ion-col col-1></ion-col>
                    <ion-col col-2 (click)="openChat()" style="text-align: center;margin-top: 4px;">
                        <ion-icon name="md-text" style="font-size: 29px;            
                    color: #C0D1D9;"></ion-icon>
                    </ion-col>
                </ion-row>
    
            </ion-grid>
        </div>
      