<ion-header>
    <top-navbar></top-navbar>
    <hptabs></hptabs>
</ion-header>
<ion-content >
<div style="height:100%">
  
  
  <div class="fl-exstng-patient-cntnr" style="">
    <div>
      <ion-row><back-button></back-button></ion-row>
      <ion-row class="fl-patient-header row">
        <ion-col col-6 class="fl-exstng-patient-hdr" >EXISTING PATIENTS</ion-col>
        <ion-col col-5 class="fl-exstng-txt-srt" style="">
          SORTED BY ALL
        </ion-col>
        <ion-col col-1 style="font-size: 9px;
      color: #C0D1D9;">
      <ion-icon name="filter" class=""></ion-icon>
        </ion-col>
      </ion-row>

      <div class="fl-actv-header" *ngIf="activePatients.length>0">ACTIVE</div>
      <div class="fl-actv-patient-lst">
        <!--active patient detail-->
        <div *ngFor="let item of activePatients" class="fl-actv-patient" (click)="viewPatientDetail(item)" >
          <div style="padding-left: 15px;
          padding-right: 15px;">
            <ion-row class="fl-actv-patient-header">
              <ion-col col-5>NAME</ion-col>
              <ion-col col-3>RECORD</ion-col>
              <ion-col col-4>STATUS</ion-col>
            </ion-row>
            <ion-row style="align-items: center;">
              <ion-col col-5 class="fl-patient-name-cntnr">{{item.Name}}</ion-col>
              <ion-col col-3  class="fl-patient-incpmt-txt" *ngIf="item.CompletedDate == null">Incomplete</ion-col>
              <ion-col col-3  class="fl-patient-cpmt-txt" *ngIf="item.CompletedDate != null">Complete</ion-col>
              <ion-col col-4>
                <ion-toggle  [(ngModel)]="item.IsActive" (ionChange)="updatePatientStatus(item)"></ion-toggle>
              </ion-col>
            </ion-row>
          </div>
         
          <div style="    border-top: 1px solid #E5EAED;padding-left: 15px;
          padding-right: 15px;padding-bottom:20px;" *ngIf="item.ShowResult">
              <ion-row class="fl-actv-patient-header">
                  <ion-col col-5>CLIENT ID</ion-col>
                  <ion-col col-3>GENDER</ion-col>
                  <ion-col col-4>RACE</ion-col>
                </ion-row>
                <ion-row style="align-items: center;">
                  <ion-col col-5 class="fl-patient-name-cntnr">{{item.PatientIntId}}</ion-col>
                  <ion-col col-3 class="fl-patient-name-cntnr" *ngIf="item.UserGender==1">Male</ion-col>
                  <ion-col col-3 class="fl-patient-name-cntnr" *ngIf="item.UserGender==2" >Female</ion-col>
                  <!--todo-->
                  <ion-col col-4 class="fl-patient-name-cntnr"> 
                    Black
                  </ion-col>
                </ion-row>
                <ion-row class="fl-actv-patient-header">
                    <ion-col col-12>Diagnosis</ion-col>
                    
                  </ion-row>
                  <ion-row style="align-items: center;">
                    <ion-col col-12 class="fl-patient-name-cntnr">{{item.Diagnosis}}</ion-col>
                  </ion-row>
<div *ngIf="item.TotalAssessmentCount">
                  <ion-row>
                    
                   
                        <div style="display: block">
                          <!-- [labels]="doughnutChartLabels" -->
                          <canvas baseChart
                                      [data]="doughnutChartData"
                                      
                                      [chartType]="doughnutChartType"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"
                                      [colors]="doughnutChartColor">
                                    </canvas>
                        </div>
                     
                  </ion-row>
                  <ion-row style=" border-top: 1px solid #E5EAED;">
                    <ion-col col-6 style="text-align: center;" ><span style="    background: #04E6F7;
                      border-radius: 8px;
                      height: 20px;
                      width: 20px;
                      align-items: center;    display: inline-block;"></span> <span class="fl-patient-name-cntnr fl-patient-ass-chart-details"> Completed Assesment</span></ion-col>
                    <ion-col col-6 style="text-align: center;"><span style="    background: #E2E6EF;
                      border-radius: 8px;
                      height: 20px;
                      width: 20px;
                      align-items: center;    display: inline-block;"></span> <span class="fl-patient-name-cntnr fl-patient-ass-chart-details">Pending Assesment</span></ion-col>
                    
                    </ion-row>
          </div>
                    <ion-row style="padding-top: 20px;">
                        <button class=" button-block btnSignIn " (click)="viewPatientProfile(item)" >OPEN CLIENT´S PROFILE</button>
                    </ion-row>
          </div>
        </div>
       
      </div>
      <div class="fl-actv-header" *ngIf="inActivePatients.length>0">INACTIVE</div>
      <div class="fl-actv-patient-lst">
        <div *ngFor="let item of inActivePatients" class="fl-actv-patient" (click)="viewPatientDetail(item)" >
          <div style="padding-left: 15px;
          padding-right: 15px;">
            <ion-row class="fl-actv-patient-header">
              <ion-col col-5>NAME</ion-col>
              <ion-col col-3>RECORD</ion-col>
              <ion-col col-4>STATUS</ion-col>
            </ion-row>
            <ion-row style="align-items: center;">
              <ion-col col-5 class="fl-patient-name-cntnr">{{item.Name}}</ion-col>
              <ion-col col-3  class="fl-patient-incpmt-txt" *ngIf="item.CompletedDate == null">Incomplete</ion-col>
              <ion-col col-3  class="fl-patient-cpmt-txt" *ngIf="item.CompletedDate != null">Complete</ion-col>
              <ion-col col-4>
                <ion-toggle [(ngModel)]="item.IsActive"  (ionChange)="updatePatientStatus(item)"></ion-toggle>
              </ion-col>
            </ion-row>
          </div>

            <div style="    border-top: 1px solid #E5EAED;padding-left: 15px;
          padding-right: 15px;padding-bottom:20px;" *ngIf="item.ShowResult">
              <ion-row class="fl-actv-patient-header">
                  <ion-col col-5>CLIENT ID</ion-col>
                  <ion-col col-3>GENDER</ion-col>
                  <ion-col col-4>RACE</ion-col>
                </ion-row>
                <ion-row style="align-items: center;">
                  <ion-col col-5 class="fl-patient-name-cntnr">{{item.PatientIntId}}</ion-col>
                  <ion-col col-3 class="fl-patient-name-cntnr" *ngIf="item.UserGender==1">Male</ion-col>
                  <ion-col col-3 class="fl-patient-name-cntnr" *ngIf="item.UserGender==2" >Female</ion-col>
                  <!--todo-->
                  <ion-col col-4 class="fl-patient-name-cntnr"> 
                    Black
                  </ion-col>
                </ion-row>
                <ion-row class="fl-actv-patient-header">
                    <ion-col col-12>Diagnosis</ion-col>
                    
                  </ion-row>
                  <ion-row style="align-items: center;">
                    <ion-col col-12 class="fl-patient-name-cntnr">{{item.Diagnosis}}</ion-col>
                  </ion-row>
<div *ngIf="item.TotalAssessmentCount">
                  <ion-row>
                    
                   
                        <div style="display: block">
                          <!-- [labels]="doughnutChartLabels" -->
                          <canvas baseChart
                                      [data]="doughnutChartData"
                                      
                                      [chartType]="doughnutChartType"
                                      (chartHover)="chartHovered($event)"
                                      (chartClick)="chartClicked($event)"
                                      [colors]="doughnutChartColor">
                                    </canvas>
                        </div>
                     
                  </ion-row>
                  <ion-row style=" border-top: 1px solid #E5EAED;">
                    <ion-col col-6 style="text-align: center;" ><span style="    background: #04E6F7;
                      border-radius: 8px;
                      height: 20px;
                      width: 20px;
                      align-items: center;    display: inline-block;"></span> <span class="fl-patient-name-cntnr fl-patient-ass-chart-details"> Completed Assesment</span></ion-col>
                    <ion-col col-6 style="text-align: center;"><span style="    background: #E2E6EF;
                      border-radius: 8px;
                      height: 20px;
                      width: 20px;
                      align-items: center;    display: inline-block;"></span> <span class="fl-patient-name-cntnr fl-patient-ass-chart-details">Pending Assesment</span></ion-col>
                    
                    </ion-row>
          </div>
                    <ion-row style="padding-top: 20px;">
                        <button class=" button-block btnSignIn " (click)="viewPatientProfile(item)" >OPEN CLIENT´S PROFILE</button>
                    </ion-row>
          </div>
          
        </div>

      </div>

    </div>
  </div>
</div>
</ion-content> 

<!-- <div *ngFor="let item of activePatients">
  <div>{{item}}</div>
</div> -->