page-existng-patient {

}
.fl-exstng-txt-srt{
    font-size: 11px;
      color: #C0D1D9;text-align:right
}

.fl-actv-header{
    font-size: 12px;
color: #C9D6DD;
font-weight: bolder;
padding-top:15px;
}
.fl-actv-patient{
background: #FFFFFF;
box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);
border-radius: 8px;
font-size: 11px;
color: #C0D1D9;
margin-top:15px
}
.fl-actv-patient-header{
    font-weight: bold;
    align-items: center;
    height: 30px;
}
.fl-actv-patient-lst{
    margin-top:20px;
    margin-bottom:20px;
}
.fl-patient-incpmt-txt{
    color: #F46960;
}
.fl-patient-cpmt-txt{
    color: #6BE29A;
}
.fl-exstng-patient-cntnr{
    background-color:#F9FBFC;
    height: -webkit-fill-available;
    //height: calc(100% - (104px));
    padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.fl-exstng-patient-hdr{
    font-size: 10px;
color: #5D738B;font-weight: bold;padding-left: 0px;
}
.fl-patient-name-cntnr{
color: #7A8C9F;
}
.fl-patient-ass-chart-details{
line-height: 4em;
position: relative;
top: -6px;
}