page-search {

}


#searchContnr .scroll-content{
    background-color: #F9FBFC;
}
.search-result-cntnr{
background: #FFFFFF;
-webkit-box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.3);
box-shadow: 0 2px 12px 0 rgba(192, 209, 217, 0.3);
border-radius: 8px;
padding:10px;

}
.search-result-img-item{
border-radius: 50%;
}
.search-result-txt{
padding-top: 15px;
padding-bottom: 20px;
font-weight: bold;
}
.details-cntnr{
padding: 10px;
color: #7A8C9F ;
}