<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>search <span *ngIf="isPatient">provider</span> 
      <span *ngIf="!isPatient">patient</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<!-- https://ionicframework.com/docs/api/components/searchbar/Searchbar/ -->
<ion-content padding style="" id="searchContnr">
  <div style="background-color:white;">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel" (ionCancel)="onCancel($event)" type="text" [placeholder]="placeholderText"></ion-searchbar>
  </div>
  <div>
      <ion-row class="search-result-txt">
          <ion-col col-12>SEARCH RESULTS</ion-col>
        </ion-row>
    <ion-row *ngFor="let item of items" class="search-result-cntnr">
       <!-- <ion-col col-2><img class="search-result-img-item" *ngIf="!item.Photo" src="../assets/imgs/HP.png" alt="" ></ion-col>  -->
       <ion-col col-2>
          <!-- "data:image/png;base64,"
          src="{{item.Photo}}" 
        [src]="data:image/png;base64,"+"item.Photo"
        src="{{"data:image/png;base64,"+item.Photo}}"
        -->
         <img class="search-result-img-item" *ngIf="item.Photo"  [src]="item.Photo" >
         <img class="search-result-img-item" *ngIf="!item.Photo"   src="assets/imgs/hpicon.jpg" alt="" >
         <!-- <img *ngIf="!patientAssessmentInfoItem.IsProviderImage"  src="assets/imgs/hpicon.jpg" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>
         <img *ngIf="patientAssessmentInfoItem.IsProviderImage" [src]="patientAssessmentInfoItem.ProviderImage" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>-->
         </ion-col>  
      <ion-col col-10 class="details-cntnr">
        <div>{{item.Name}}</div>
        <div><a href="tel:{{item.Details}}">{{item.Details}}</a></div>
      </ion-col>
    </ion-row>
    <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>


