page-create-assignment {

}
ion-modal.my-popup-assignment {
    @media (min-width: 300px) and (min-height: 500px) {
      ion-backdrop {
        visibility: visible;
      }
    }
  
    .modal-wrapper {
      position: absolute;
      overflow: hidden;
      max-width: 340px;
      border-radius: 8px;
      width: 90%;
      height: 90%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      background-color: #FFFFFF;
    }
  }
  .fl-assignment-inpt{
  font-size: 12px;
  color: darkgrey;
  }
  .fl-padding-left0{
    padding-left:0px;
  }
  .fl-select-btn{
    color: #999;
  }
  

  