<!--
  Generated template for the CreateAssignmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        <div>
                <div   style="text-align: right;
                padding-top: 7px;
                padding-right: 7px;">
                    <ion-icon name="md-close" style="color: #7A8C9F;font-size: 1.8em;text-align: center;
                    width: 30px;" (click)="closeModal()"></ion-icon>
                </div>
            </div>
            <div style="padding-left: 14px;">
                    <div style="text-align: left;font-size: 22px;
                    color: #A0B8C3;">
                   
                   
                      <span *ngIf="!assessment?.AssessmentGuid">Create Assement</span>  
                      <span *ngIf="assessment && assessment.AssessmentGuid">Edit Assement</span>
                     
            </div>
                </div>
    </ion-header>
    <ion-content style="background-color:#FFF;">
<div style="background-color:#FFF;" padding>
    
    
    <ion-row >
        <ion-col col-12>
            <ion-item style="padding-left: 0px;">
                <ion-input type="text" [(ngModel)]="assessment.Title" placeholder="Assessment Title" required  class="fl-signInInput"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row >
        <ion-col col-6>
            <ion-item>
                <ion-label class="signInInput" class="fl-mrgn-lft-10">Category</ion-label>
                <ion-select [(ngModel)]="assessment.CategoryCd"  multiple="false" (ionChange)="showSubcategories(assessment.CategoryCd)">
                    <ion-option value="c" *ngFor="let c of categories" value = "{{c.Key}}">{{c.Value}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item>
                <ion-label class="signInInput" class="fl-mrgn-lft-10">Sub-category</ion-label>
                <ion-select [(ngModel)]="assessment.SubCategoryCd"  multiple="false">
                    <ion-option value="c" *ngFor="let c of subcategories" value = "{{c.Key}}">{{c.Value}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col col-6 style="text-align: left;font-size: 10px;
        color: #A0B8C3;">
            ADD QUESTIONS :
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <a (click)="addNewQuestion()" style="font-size: 9px;
        color: #3CE2F4;">ADD NEW QUESTION </a>
        </ion-col>
    </ion-row>
    <div *ngFor="let quiz of assessment.Quiz;let i = index" style="border: 1px dotted #E0EAEF;
    border-radius: 7px;padding:9px;margin-bottom:10px;">
        <div>
            <ion-item class="fl-padding-left0">
                <ion-input type="text" [(ngModel)]="quiz.Question" placeholder="WRITE YOUR QUESTION"  class="fl-assignment-inpt"></ion-input>
            </ion-item>
            <ion-item class="fl-padding-left0">
                <!-- <ion-label class="signInInput" [hidden]="!quiz.AnswerString || quiz.AnswerString.length == 0" class="fl-mrgn-lft-10">SELECT MULTIPLE ANSWERS</ion-label> -->
                <button ion-button clear  (click)="addAnswers(quiz.Answers, i)" class="fl-select-btn" icon-right>SELECT MULTIPLE ANSWERS
                        <ion-icon  style="color:#00FADE" name="md-arrow-dropdown"></ion-icon>
                </button>

                <!-- <ion-select [(ngModel)]="quiz.AnswerString"  multiple="true" (ionChange)="showAnswerList(quiz)">
                    <ion-option value="item" *ngFor="let item of answers" value = "{{item.Code}}">{{item.Text}}</ion-option>
                </ion-select>

                <div *ngFor="let ans of quiz.Answers">
                    <ion-input type="number" [(ngModel)]="ans.Score" placeholder="{{ans.Text}}"></ion-input>
                </div> -->
            </ion-item>
        </div>
    </div>

    <ion-row>
        <ion-col col-6 style="text-align: left;font-size: 10px;
        color: #A0B8C3;">
            ADD RESULT Category:
        </ion-col>
        <ion-col col-6 style="text-align: right;">
            <a (click)="addResultRange()" style="font-size: 9px;
        color: #3CE2F4;">ADD NEW Result range </a>
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let range of assessment.ResultRange"  style="border: 1px dotted #E0EAEF;
    border-radius: 7px;margin-bottom:10px;">
    <ion-col col-2>
        <ion-item class="fu-padding-left-0" style="height:46px;">
            <ion-input type="number" [(ngModel)]="range.MinScore" placeholder="Min Score" class="signInInput"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col col-2>
        <ion-item class="fu-padding-left-0" style="height:46px;">
            <ion-input type="number" [(ngModel)]="range.MaxScore" placeholder="Max Score" class="signInInput"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col col-8>
        <ion-item class="fu-padding-left-0" >
            <ion-label class="signInInput" class="fl-mrgn-lft-10">Range Result</ion-label>
            <ion-select [(ngModel)]="range.ResultText"  multiple="false">
                <ion-option value="c" *ngFor="let c of resultRanges" value = "{{c.Key}}">{{c.Value}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-col>
    </ion-row>
    
    
    <ion-row>
        <ion-col col-12>
            <ion-item class="fl-padding-left0">
                <ion-label class="signInInput " class="fl-mrgn-lft-10">ADD PATIENTS</ion-label>
                <ion-select [(ngModel)]="assessment.PatientGuids"  multiple="true">
                    <ion-option value="p" *ngFor="let p of patientList" value = "{{p.PatientGuid}}">{{p.Name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <div class=" fl-mrgn-top-15 ">
                <ion-checkbox color="turquoise" checked="true" class="fl-sign-up-checkbx"></ion-checkbox>
                <span class="fl-cnscnt-form">SELECT ALL PATIENTS
                </span>
            </div>
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12>
            <button class="btnSignIn button-block" *ngIf="assessment.OperationType == 1"  (click)="createAssessment()">CREATE ASSESSMENT</button>
            <button class="btnSignIn button-block" *ngIf="assessment.OperationType == 2"  (click)="createAssessment()">UPDATE ASSESSMENT</button>
        </ion-col>
    </ion-row>

</div>
</ion-content>