page-create-assessment {

}
.fl-create-ass-text {
    margin-left: 10px;
    font-size: 16px;
    color: darkgrey;
}
.fl-create-assessment-Input {
    font-size: 16px;
    color: darkgrey;
}


.fl-page-nav-bullet-selected{
    width: 40px;
    height: 40px;
    background: #E8EFF2;
    border-radius: 50%;
   // text-align: center;
    font-size: 1.2em;
    position: absolute;
   // font-weight: bold;
}
.selected-bullet{
    width: 28px;
    height: 28px;
    background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15%;
    margin-left: 15%;
    position: absolute;
}
.not-selected-bullet {
    width: 28px;
    height: 28px;   
    border-radius: 50%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 14%;
    margin-left: 15%;
    position: absolute;
    color: #5D738B;
}
.fl-page-nav-div{
    position: fixed;
    width: 100%;
    bottom: 3%;
    height: 50px;
}
.fl-add-question-wrapper{
//     border: 1px solid #E0EAEF;
// border-radius: 7px;
// border-style: dashed;
}
.fl-select-mult-ans {
    color: darkgray;
    font-size: 12px;
    padding-left: 7px;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    // border-bottom-color: transparent; 
    // -webkit-box-shadow: inset 0 -1px 0 0 transparent; 
    //  box-shadow: inset 0 -1px 0 0 transparents; 
     border-bottom-color: #dedede; 
     -webkit-box-shadow: inset 0 -1px 0 0 #dedede; 
      box-shadow: inset 0 -1px 0 0 #dedede; 
    // border-bottom: 1px solid #dedede;
}
.fl-min-max-range-input-selected{
    background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
border-radius: 7px;
}
.fl-min-max-range-input{
    background: #E8EFF2;
border-radius: 7px;
}
.test1{
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
}
.fl-tab-option-wrapper{
    padding-left: 20px;
}
.fl-add-result-range{
    text-align: right;font-size: 11px;
    font-weight: bold;
    color: #3CE2F4;text-decoration: underline;
}
.fl-add-result-cat{
    text-align: left;font-size: 11px;
    color: #A0B8C3;
}


.fl-assignment-inpt{
    font-size: 12px;
    color: darkgrey;
    }
    .fl-padding-left0{
      padding-left:0px;
    }
    .fl-select-btn{
      color: #999;
    }
    .fl-assessment-ans {
       // margin-left: 10px;
        font-size: 12px;
        color: #999;
      }