<!--
  Generated template for the CreateAssessmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <div>
            <div   style="text-align: right;
            padding-top: 7px;
            padding-right: 7px;">
                <ion-icon name="md-close" style="color: #7A8C9F;font-size: 1.8em;text-align: center;
                width: 30px;" (click)="closeModal()"></ion-icon>
            </div>
        </div>
        <div style="padding-left: 14px;">
                <div style="text-align: left;font-size: 22px;
                color: #A0B8C3;">
               
               
                  <span *ngIf="!assessment?.AssessmentGuid">Create Assement</span>  
                  <span *ngIf="assessment && assessment.AssessmentGuid">Edit Assement</span>
                 
        </div>
            </div>
</ion-header>
<div style="background-color:#FFF;height: calc(100% - 140px);margin-top:63px;overflow-y: auto;margin-bottom:80px;">
<div style="background-color:#FFF;height: 100%;" padding>
  <!--first tab-->
  <div  *ngIf="selectedTab==1">
    <ion-row >
        <ion-col col-12>
            <ion-item style="padding-left: 0px;">
                <ion-input type="text" [(ngModel)]="assessment.Title" placeholder="Assessment Title" required  class="fl-create-assessment-Input"></ion-input>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-row >
        <ion-col col-12>
            <ion-item class="fu-padding-left-0">
                <ion-label class="signInInput" class="fl-create-ass-text">Category</ion-label>
                <ion-select [(ngModel)]="assessment.CategoryCd"  multiple="false" (ionChange)="showSubcategories(assessment.CategoryCd)">
                    <ion-option value="c" *ngFor="let c of categories" value = "{{c.Key}}">{{c.Value}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
       
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <ion-item class="fu-padding-left-0">
                <ion-label class="signInInput" class="fl-create-ass-text">Sub-category</ion-label>
                <ion-select [(ngModel)]="assessment.SubCategoryCd"  multiple="false">
                    <ion-option value="c" *ngFor="let c of subcategories" value = "{{c.Key}}">{{c.Value}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>
  </div>
   <!--second tab-->
  <div *ngIf="selectedTab==2">
      <div class="fl-add-question-wrapper" *ngIf="true">
          <ion-row style="padding-bottom: 15px;">
              <ion-col col-6 class="fl-add-result-cat">
                  ADD QUESTIONS :
              </ion-col>
              <ion-col col-6 style="text-align: right;" (click)="addNewQuestion()" class="fl-add-result-range">
                 ADD NEW QUESTION 
              </ion-col>
          </ion-row>


          
          <div *ngFor="let quiz of assessment.Quiz;let i = index" style="border: 1px dotted #E0EAEF;
          border-radius: 7px;padding:9px;margin-bottom:10px;">
              <div>
                  <ion-item class="fl-padding-left0">
                      <ion-input type="text" [(ngModel)]="quiz.Question" placeholder="WRITE YOUR QUESTION"  class="fl-assignment-inpt"></ion-input>
                  </ion-item>
                      <ion-label class="fl-select-mult-ans">SELECT MULTIPLE ANSWERS</ion-label>
              </div>
              <div>
                  <div style="height:100%;overflow-y: auto;"  >
                      <ion-row style="padding-top: 5px;">
                          <ion-row *ngFor="let answer1 of quiz.AnswersLookup; let j = index"  style="border: 1px dotted #E0EAEF;
                          border-radius: 7px;margin-bottom:10px;">
                              <ion-col col-2 style="padding-right: 0px;">
                                  <ion-item  style="padding-left: 7px;">
                                      <ion-checkbox [(ngModel)]="answer1.Checked" (ionChange)="updateAnswer(quiz,answer1, $event, i)" ></ion-checkbox>
                                  </ion-item>
                              </ion-col>
                              <ion-col col-7 style="padding-left: 0px;">
                                  <ion-item class="fu-padding-left-0">
                                      <ion-input disabled="true"  class="fl-assessment-ans" [(ngModel)]="answer1.Text"></ion-input>
                                  </ion-item>
                              </ion-col>
                              <ion-col col-3 style="padding-left: 0px;">
                                  <ion-item class="fu-padding-left-0" [ngClass]="(answer1.Score>0)?'fl-min-max-range-input-selected':'fl-min-max-range-input'">
                                          <ion-input type="number" class="fl-mrgn-lft-10" [(ngModel)]="answer1.Score" (ionChange)="updateAnswerScore(quiz,answer1, $event, i)" placeholder="Score" >

                                          </ion-input>
                                      
                                  </ion-item>
                              </ion-col>
                          </ion-row>
                      </ion-row>
                   
                  </div>
                  
              </div>
          </div>
        </div>
  </div>
  
    <!--third tab-->
  <div  *ngIf="selectedTab==3">
     
    <ion-row style="padding-bottom: 20px;">
        <ion-col col-6 style="" class="fl-add-result-cat">
            ADD RESULT CATEGORY:
        </ion-col>
        <ion-col col-6 style="" (click)="addResultRange()" class="fl-add-result-range">
           ADD NEW Result range 
        </ion-col>
    </ion-row>

    <ion-row *ngFor="let range of assessment.ResultRange ;let i = index"  style="border: 1px solid #E0EAEF;
    border-radius: 7px;margin-bottom:10px;">
    <ion-col col-2  >
       
        
        <ion-item class="fu-padding-left-0 " style="width:43px;" [ngClass]="(range.MinScore>0)?'fl-min-max-range-input-selected':'fl-min-max-range-input'">
            <ion-input type="number" [(ngModel)]="range.MinScore" placeholder="Min Score" class="signInInput"  name="minScore"></ion-input>
        </ion-item>
       
    </ion-col>
    <ion-col col-2  >
      
       
        <ion-item class="fu-padding-left-0 " style="width:43px;" [ngClass]="(range.MaxScore>0)?'fl-min-max-range-input-selected':'fl-min-max-range-input'">
            <ion-input type="number" [(ngModel)]="range.MaxScore" placeholder="Max Score" class="signInInput"   name="maxScore"></ion-input>
        </ion-item>
    </ion-col>
     <ion-col col-8 style="border-left: 1px solid #E0EAEF;">
        <ion-item class="fu-padding-left-0" >
            <ion-label class="signInInput" class="fl-mrgn-lft-10">Range Result</ion-label>
            <ion-select [(ngModel)]="range.ResultText"  multiple="false" name="resultText">
                <ion-option value="c" *ngFor="let c of resultRanges" value = "{{c.Key}}">{{c.Value}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-col> 
    </ion-row>
  
  </div>
  
    <!--fourth tab-->
  <div *ngIf="selectedTab==4">
      <ion-row>
          <ion-col col-12>
              <ion-item class="fl-padding-left0">
                  <ion-label class="signInInput " class="fl-mrgn-lft-10">ADD PATIENTS</ion-label>
                  <ion-select [(ngModel)]="assessment.PatientGuids"  multiple="true">
                      <ion-option value="p" *ngFor="let p of patientList" value = "{{p.PatientGuid}}">{{p.Name}}</ion-option>
                  </ion-select>
              </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-12>
              <div class=" fl-mrgn-top-15 ">
                  <ion-checkbox color="turquoise" checked="true" class="fl-sign-up-checkbx"></ion-checkbox>
                  <span class="fl-cnscnt-form">SELECT ALL PATIENTS
                  </span>
              </div>
          </ion-col>
      </ion-row>
      <ion-row style="padding-top: 20px;position: absolute;
      width: 91%;
      top: 70%;" *ngIf="assessment.PatientGuids">
          <ion-col col-12>
              <button class="btnSignIn button-block" *ngIf="assessment.OperationType == 1"  (click)="createAssessment()">CREATE ASSESSMENT</button>
              <button class="btnSignIn button-block" *ngIf="assessment.OperationType == 2"  (click)="createAssessment()">UPDATE ASSESSMENT</button>
          </ion-col>
      </ion-row>
  </div>
  
  
</div>
</div>
<div class="fl-page-nav-div">
    <ion-row>
        <ion-col col-3 class="fl-tab-option-wrapper"> 
          <div class="fl-page-nav-bullet-selected " (click)="selectTab(1)"><div class=" " [ngClass]="(selectedTab==1)?'selected-bullet':'not-selected-bullet'">1</div></div>
        </ion-col>
        <ion-col col-3 class="fl-tab-option-wrapper">
            <div class="fl-page-nav-bullet-selected  " (click)="selectTab(2)"><div [ngClass]="(selectedTab==2)?'selected-bullet':'not-selected-bullet'">2</div></div>
          </ion-col>
          <ion-col col-3 class="fl-tab-option-wrapper">
              <div class="fl-page-nav-bullet-selected " (click)="selectTab(3)"><div [ngClass]="(selectedTab==3)?'selected-bullet':'not-selected-bullet'">3</div></div>
            </ion-col>
            <ion-col col-3 class="fl-tab-option-wrapper">
                <div class="fl-page-nav-bullet-selected " (click)="selectTab(4)"><div [ngClass]="(selectedTab==4)?'selected-bullet':'not-selected-bullet'">4</div></div>
              </ion-col>
    </ion-row>
</div> 
