<!--
  Generated template for the PatientProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <top-navbar></top-navbar>
  <hptabs></hptabs>
</ion-header>
<ion-content>
  <div style="height:100%">



    <div class="fl-dctr-schedule-cntnr" style="">
      <!-- <div class="fl-profile-back">
        <ion-icon name="ios-arrow-back" style="margin-left: 12px;" item-right></ion-icon>
        BACK</div> -->
      <div style="padding-bottom:20px;">
        <back-button></back-button>
      </div>

      <div class="fl-booking-cntnr">
        <div class="fu-txt-align-centr" style=" top: 25px;
        position: absolute;left:35%">
          <!-- <img src="assets/imgs/SignUp_User.png" style="       width: 100px;"> -->
          <img class="search-result-img-item" *ngIf="patientImage!=='' " [src]="patientImage" style="width: 100px;height: 100px;">
          <img class="search-result-img-item" *ngIf="patientImage==''" src="assets/imgs/patientdicon.png" alt="" style="width: 100px;height: 100px;">
        </div>
        <div style="padding-top:50px;">
          <ion-row class="fl-patient-name fu-txt-align-centr">
            <ion-col>{{patientName}}</ion-col>
          </ion-row>
          <ion-row class="fl-clnt-id fu-txt-align-centr">
            <ion-col>Client ID: {{patientId}}</ion-col>
          </ion-row>
        </div>
        <div>

          <ion-row class="fu-txt-align-centr">
            <ion-col col-4>
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>AGE</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{patientAge}}</ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-4>
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>GENDER</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{patientGender}}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </div>

      </div>
      <div class="fl-assessment-title">ASSESSMENTS</div>
      <div *ngFor="let item of selectedPatientResults;" style="margin-top: 15px" class="fl-assessmnt-cntnr">
        <div>
          <ion-row>
            <ion-col col-8 style="border-right: 1px solid #E8EFF2;">
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>NAME</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{item.AssessmentTitle}}</ion-col>
              </ion-row>
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>CATEGORY</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{item.Category}}</ion-col>
              </ion-row>
            </ion-col>
            <ion-col col-4>
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>RECORD</ion-col>
              </ion-row>
              <ion-row *ngIf="item.CompletedDate != null" class="fl-booking-dtl-txt fl-assgnmnt-cpmt-txt" style="border-bottom: 1px solid #E8EFF2;">
                <ion-col>Completed</ion-col>
              </ion-row>
              <ion-row *ngIf="item.CompletedDate == null" class="fl-booking-dtl-txt fl-patient-incpmt-txt" style="border-bottom: 1px solid #E8EFF2;">
                <ion-col>Incomplete</ion-col>
              </ion-row>

              <ion-row (click)="goToAssessmentResult(item)" style="    height: 50px;align-items: center;    color: #5D738B;">
                <ion-col style="text-align: center;">
                  <span style="    font-size: 1.1em;">Result</span>
                  <ion-icon name="ios-arrow-forward" style="margin-left: 12px;" item-right></ion-icon>
                </ion-col>
              </ion-row>

            </ion-col>
          </ion-row>
        </div>
      </div>
      <div style="margin-top: 20px" class="fl-booking-cntnr">



        <div class="fl-booking-details" style="padding-right:25px;">


          <ion-row class="fl-booking-sub-hdr">
            <ion-col>NOTES</ion-col>
          </ion-row>
          <ion-row class="fl-booking-dtl-txt">

            <ion-textarea type="text" [(ngModel)]="patientNotes" placeholder="Write your notes here" class="fl-cnfrm-appnmnt-note"></ion-textarea>

          </ion-row>
          <ion-row style="margin-top: 20px;">
            <button class=" button-block fl-note-btn" (click)="AddNotesAndDiagnosis(true)">ADD NOTES</button>
          </ion-row>
        </div>




      </div>
      <div style="margin-top: 20px" class="fl-booking-cntnr">



        <div class="fl-booking-details" style="padding-right:25px;">


          <ion-row class="fl-booking-sub-hdr">
            <ion-col>DIAGNOSIS</ion-col>
          </ion-row>
          <ion-row class="fl-booking-dtl-txt">

            <ion-textarea type="text" [(ngModel)]="patientDiagnosis" placeholder="Write your diagnosis here" class="fl-cnfrm-appnmnt-note"></ion-textarea>

          </ion-row>
          <ion-row style="margin-top: 20px;">
            <button class=" button-block fl-note-btn" (click)="AddNotesAndDiagnosis(false)">ADD DIAGNOSIS</button>
          </ion-row>
        </div>




      </div>
      <div>
        <!-- <ion-row style="margin-top: 20px;">
          <button class=" button-block fl-cnfrm-appnmnt-btn">SELECT ASSESSMENT</button>
        </ion-row> -->
        <ion-row style="margin-top: 20px;">
          <button (click)="selectAssessment()" class=" button-block btnSignIn">SEND ASSESSMENT</button>
        </ion-row>
      </div>
    </div>


  </div>
</ion-content>