page-patient-profile {

}
.fl-dctr-schedule-cntnr{
    background-color:#F9FBFC;
    //height: -webkit-fill-available;
    //height: calc(100% - (104px));
    padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fl-booking-hdr{
    font-size: 12px;
color: #C6D5DD;
font-weight: bold;
padding-top: 15px;
    padding-left: 15px;

}
.fl-booking-sub-hdr{
    font-size: 10px;
color: #C0D1D9;
font-weight: bold;
}
.fl-booking-details{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.fl-booking-dtl-txt{
    font-size: 12px;
color: #7A8C9F;
}
.fl-cnfrm-appnmnt-btn{
    border-radius: 4px;
    font-size: 10px;
    color: #38E4F3;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #38E4F3;
}
.fl-cnfrm-appnmnt-note{
    border: 1px solid #E8EFF2;
    border-radius: 4px;
    height: 80px;
}
.fl-note-btn{
    background: #C6D5DD;
    border-radius: 4px;
    color: white;
    height: 50px;
}
.fl-assessmnt-cntnr{
    background: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);
    border-radius: 8px;
   
}
.fl-assessment-title{
    margin-top: 15px;
    padding-left: 3px;
    color: #5D738B;
    font-size: 12px;
    font-weight: bold;
}
.fl-assgnmnt-incpmt-txt{
    color: #F46960;
}
.fl-assgnmnt-cpmt-txt{
    color: #6BE29A;
}
.fl-profile-back{
   
    padding-left: 3px;
    color: #C0D1D9;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 20px;
}
.fl-patient-name{
    font-size: 16px;
    color: #7A8C9F;
}
.fl-clnt-id{
    font-size: 11px;
    color: #CBD9E0;
}
