<div style="height:100%">
    <top-navbar></top-navbar>
    <hptabs></hptabs>
    
    <div class="fl-dashboard-patient-cntnr" style="overflow-y: auto;">
        <div class="row fl-dashboard-patient-div">
            <div class="col col-50 fu-txt-align-centr">

                <ion-icon name="existing-patient" class="fl-hp-home-icon" (click)="viewClients()"></ion-icon>
                <div class="fl-exstng-patient-title" >Existing
                    <br> Patients</div>
                <div  class="fu-margin-top-20">
                    <button  class="button-block fl-btn-1" (click)="viewClients()">SEE ALL CLIENTS</button>
                </div>
            </div>
            <div class="col col-50 fu-txt-align-centr" >

                <ion-icon name="add-patient" class="fl-hp-home-icon" (click)="addPatient()"></ion-icon>


                <div class="fl-exstng-patient-title">Add
                    <br> Patients</div>
                <div class="fu-margin-top-20">
                    <button  class="button-block fl-btn-2" (click)="addPatient()">ADD PATIENTS</button>
                </div>
            </div>
        </div>
        <div class="row" style="height:50%">
            <div class="col col-50 fu-txt-align-centr" >

                <ion-icon name="existing-assignment" class="fl-hp-home-icon" (click)="seeAssessments()"></ion-icon>

                <div class="fl-exstng-patient-title">Existing
                    <br> Assessments</div>
                <div class="fu-margin-top-20">
                    <button  class="button-block fl-btn-1" (click)="seeAssessments()">SEE ALL ASSESSMENTS</button>
                </div>
            </div>
            <div class="col col-50 fu-txt-align-centr" >
                <ion-icon name="add-assignment" class="fl-hp-home-icon" (click)="createAssignment()"></ion-icon>
                <div class="fl-exstng-patient-title">Create
                    <br> Follow Up
                    <br>Questions</div>
                <div class="fu-margin-top-20">
                    <button  class="button-block fl-btn-2" (click)="createAssignment()">NEW FOLLOW UP QUESTIONS</button>
                </div>
            </div>
        </div>
    </div>
</div>
