<!--
  Generated template for the PatientDashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the PatientresultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <top-navbar></top-navbar>
    <patienttabs></patienttabs>
  </ion-header>
  <ion-content>
    <div style="height:100%">
  
  
      <div class="fl-exstng-patient-cntnr" style="">
        <div  *ngFor="let patientAssessmentInfoItem of HealthProvider">
        <div>
            <!-- <hp-detail></hp-detail> -->
            <div style="margin-bottom:10px;">
              <ion-row>
                  <ion-col col-3 style="text-align: center;">
                      <!-- <ion-icon name="md-more" style="color: white;font-size: 2.5em;"></ion-icon> -->
          <!-- <img src="assets/imgs/HP.png" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/> -->
         
          <img *ngIf="patientAssessmentInfoItem.ProviderImage==''"  src="assets/imgs/hpicon.jpg" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>
          <img *ngIf="patientAssessmentInfoItem.ProviderImage!==''" [src]="patientAssessmentInfoItem.ProviderImage" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>
                      
        </ion-col>
                  
                  
                  <ion-col col-9 style="text-align:left;  padding-top:10px;  ">
                      <ion-row>
                          <ion-col style="font-size: 11px;font-weight: bold;
                          color: #C0D1D9;">HEALTHCARE PROVIDER</ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col style="font-size: 0.8em;color: #7A8C9F;">{{patientAssessmentInfoItem.ProviderName}}</ion-col>
                      </ion-row>
                  </ion-col>
                  
                  
              </ion-row>
          </div>
        </div>

     
        <div *ngFor="let item of patientAssessmentInfo; let i = index">
            <ion-row  *ngIf="i % 3 == 0">

        <ion-col col-4 *ngIf="patientAssessmentInfoItem.ProviderGuid==patientAssessmentInfo[i].ProviderGuid">
            <div>
                <div class="fl-ass-tile fl-assessment-patient-dashbrd" (click)="startQuiz(patientAssessmentInfo[i])">
                  <div class="fl-ass-icon-wrapper">
                    <ion-icon name="create_main_assessment"  item-right></ion-icon>
                  </div>
                  <div class="fl-ass-title-pd-wrapper">{{patientAssessmentInfo[i].Title}}</div>
                </div>
              </div>
        </ion-col>
       
        <ion-col col-4 *ngIf="patientAssessmentInfo[i+1] &&  patientAssessmentInfoItem.ProviderGuid==patientAssessmentInfo[i + 1].ProviderGuid">
            <div>
                <div class="fl-ass-tile fl-assessment-patient-dashbrd" (click)="startQuiz(patientAssessmentInfo[i+1])">
                  <div class="fl-ass-icon-wrapper">
                    <ion-icon name="create_main_assessment"  item-right></ion-icon>
                  </div>
                  <div class="fl-ass-title-pd-wrapper">{{patientAssessmentInfo[i + 1 ].Title}}</div>
                </div>
              </div>
        </ion-col>
       
        <!-- <ion-col col-4 *ngIf="i +2 <patientAssessmentInfo.lenght && patientAssessmentInfoItem.ProviderGuid==patientAssessmentInfo[i+2].ProviderGuid"> -->
            <ion-col col-4 *ngIf="patientAssessmentInfo[i+2] && (patientAssessmentInfoItem.ProviderGuid==patientAssessmentInfo[i+2].ProviderGuid)">  
          <div>
                <div class="fl-ass-tile fl-assessment-patient-dashbrd" (click)="startQuiz(patientAssessmentInfo[i+2])">
                  <div class="fl-ass-icon-wrapper">
                    <ion-icon name="create_main_assessment"  item-right></ion-icon>
                  </div>
                  <div class="fl-ass-title-pd-wrapper">{{patientAssessmentInfo[i +2].Title}}</div>
                </div>
              </div>
        </ion-col>
        
</ion-row>
      </div>
      </div>
        <!-- <ion-row style="padding-top: 20px;">
            <ion-col col-12 >
                <button class="btnSignIn button-block" (click)="addHealthProvider()">ADD HP</button>
            </ion-col>
        </ion-row> -->
        <!--  <ion-row style="padding-top: 20px;">
            <ion-col col-12 >
                <button class="btnSignIn button-block" (click)="startQuiz()">start quiz</button>
            </ion-col>
        </ion-row>  -->
      </div>
    </div>
  </ion-content>