page-patient-dashboard {

}
.fl-ass-title-pd-wrapper {
    padding-top: 17px;
    padding-left: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom: 7px;

}
.fl-assessment-patient-dashbrd{
    color: #7A8C9F;
    background-color:  #FFFFFF;
    height: 0;
    padding-bottom: 100%;
}