<!--
  Generated template for the AddHealthcarePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div style="height:100%;overflow-y: auto;" padding >
    <ion-row>
        <ion-col col-12 style="text-align: right;">
            <ion-icon name="md-close" style="color: #7A8C9F;font-size: 1.8em;    font-weight: bolder;" (click)="closeModal()"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 style="text-align: center;font-size: 17px;
        color: #7A8C9F;    font-weight: bolder;">
        Add Healthcare Provider
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 style="text-align: center;font-size: 13px;
        color: #7A8C9F;">
        Enter Healthcare Provider’s NPI or personalized code
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12 >
            <ion-item>
                <ion-input type="text" [(ngModel)]="providerCode" placeholder="INSERT NPI OR CODE" class="fl-signInInput"></ion-input>
              </ion-item>
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12 >
            <button class="btnSignIn button-block" (click)="addHealthProvider()">ADD NOW</button>
        </ion-col>
    </ion-row>
	<!--
	<div>  
        <ion-label>Upload</ion-label>  
        <input type="file" id="btnUpload" value="Upload" (change)="fileChange($event)" />  
    </div> 
-->
</div>
