<ion-grid>
    <ion-row>
        <ion-col col-1 style="text-align: center;" >
            <ion-icon item-start icon-only  menuToggle name="md-more" style="color: white;font-size: 2.5em;" ></ion-icon>
        </ion-col>
        
        
        <ion-col col-10 style="text-align:center;    ">
            <img class="" src="assets/imgs/Brand_Quiz_Page.png" style="width:150px;">
        </ion-col>
        
        <ion-col col-1 style="text-align: center;margin-top: 4px;" (click)="goBack();">
            <ion-icon name="ios-arrow-back" style="font-size: 29px;            
        color: white;"></ion-icon>
        </ion-col>
    </ion-row>

</ion-grid>
