

<div class="fl-start-quiz-cntnr">
    <nav-bar-light></nav-bar-light>
  
    

    

    <div style="height:100% ;margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 25px;" >

      <div class="row">
        <button class="btnPh">{{assessmentInfo.Title}}</button>
      </div>

      <div class="row" >
      <label class="labelBig">Start your
        <br> health check</label>
      </div>
      <div class="row">

        <label class="labelMedium">
          Your result will inform
          <br>your healthcare provider
          <br>of your progress          
        </label>
      </div>


      <div class="row">
        <div style="background: #19A4A3;
border-radius: 100px; width: 20px; height: 2px; margin: 10px 0 10px 0;">
        </div>
      </div>

      <!-- <div class="row">
        <label class="labelSmall">
          3 DAYS OUT OF 14
        </label>
      </div> -->
    </div>

    <div class="fl-footer-strt-quiz">
      <button class=" button-block fl-footer-strt-quiz-btn" (click)="takeTest()">TAKE THE TEST</button>
    </div>
 



</div>
