.labelSmall {
  
  font-size: 9px;
  color: #19a4a3;
  letter-spacing: 0;
}

.labelMedium {
  
  font-size: 21px;
  color: #19a4a3;
  letter-spacing: 0;
}

.labelBig {
  
  font-size: 43px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 49px;
  padding-top: 10px;
}

.btnPh {
  background: #a9faf5;
  border-radius: 100px;
  width: 150px;
  padding: 4px;
  
  font-size: 11px;
  color: #07b2ab;
  letter-spacing: 0;
  border: none;
}

.fl-quiz-trt-screen {
  background-image: linear-gradient(-139deg, #57d7fe 0%, #00fade 100%);
}
.fl-start-quiz-cntnr{
  background-image: linear-gradient(-139deg, #57d7fe 0%, #00fade 100%);
  height: 100%;
}

.fl-footer-strt-quiz {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  height: 40px;
}

.fl-footer-strt-quiz-btn {
  background: #ffffff;
  height: 40px;
  font-size: 11px;
  font-weight: bold;
  color: #2de8ef;
}