<ion-header>
    <top-navbar></top-navbar>
    <hptabs></hptabs>
</ion-header>
<ion-content >
<div style="height:100%">
  
  

  <div class="fl-dctr-schedule-cntnr" style="">
    <div class="fl-booking-cntnr">
      <div class="row fl-booking-hdr">BOOKINGS FOR THE WEEK</div>
      <ion-card *ngFor="let item of patientAppointments"  style="border: 1px solid #E8EFF2;
      border-radius: 4px;box-shadow: none;">
        <div class="fl-booking-details">
            <ion-row class="fl-card-close-icon" >
                <span (click)="DeleteAppointment(item)"><ion-icon name="close-circle"></ion-icon></span>
              </ion-row>
          <ion-row class="fl-booking-sub-hdr">
            <ion-col>PATIENT</ion-col>
          </ion-row>
          <ion-row class="fl-booking-dtl-txt">
            <ion-col>{{item.Name}}</ion-col>
          </ion-row>
          <ion-row class="fl-booking-sub-hdr">
            <ion-col>DATE</ion-col>
            <ion-col>STATUS</ion-col>
          </ion-row>
          <ion-row class="fl-booking-dtl-txt">
            <ion-col>{{item.Date | date:"dd/MM/yyyy": 'UTC'}}</ion-col>
            <ion-col  *ngIf="item.Status" class="fl-patient-cpmt-txt">Confirmed</ion-col>
            <ion-col  *ngIf="!item.Status" class="fl-patient-incpmt-txt">Unconfirmed</ion-col>
          </ion-row>
          <ion-row class="fl-booking-sub-hdr">
              <ion-col>TIME</ion-col>
              <ion-col>URGENT</ion-col>
            </ion-row>
            <ion-row class="fl-booking-dtl-txt">
              <ion-col>{{item.TimeBlock}}</ion-col>          
            <ion-col><ion-toggle mode="ios" color="secondary" [(ngModel)]="item.IsUrgent" (ionChange)="UpdateUrgetStatus(item)" checked="item.IsUrgent"></ion-toggle></ion-col>  
            </ion-row>
            <ion-row class="fl-booking-sub-hdr">
                <ion-col>NOTE</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{item.Notes}}</ion-col>
              </ion-row>
          
        </div>
      </ion-card>

      <ion-card *ngIf="!(patientAppointments?.length > 0)"style="border: 1px solid #E8EFF2;
          border-radius: 4px;box-shadow: none;">
            <div class="fl-booking-details" style="padding-right:25px;">
          <ion-row class="fl-booking-sub-hdr">
              <ion-col>No Appoinments in this week.</ion-col>
            </ion-row>
            </div>
      </ion-card>
      
    </div>

    <div style="margin-top: 20px" class="fl-booking-cntnr">
              
    <div style="padding:25px">
      <!-- https://www.npmjs.com/package/ion2-calendar-->
      <ion-calendar [(ngModel)]="date"
      (onChange)="onChange($event)"
      [options]="calendarOption"
      [type]="type"
      [format]="'YYYY-MM-DD'">
</ion-calendar>
</div>

<ion-col class="fl-patient-incpmt-txt" style="padding-left:30px;" ><span class="fl-bullet"></span><span style="padding-left:15px;"><b>UNAVAILABLE</b></span></ion-col>

</div>

  <div style="margin-top: 20px" class="fl-booking-cntnr">
      <div style="padding-top: 25px;">
          
          <ion-card *ngFor="let item of pendingAppointments" style="border: 1px solid #E8EFF2;
          border-radius: 4px;box-shadow: none;">
            <div class="fl-booking-details" style="padding-right:25px;">
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>PATIENT</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                <ion-col>{{item.Name}}</ion-col>
              </ion-row>
              <ion-row class="fl-booking-sub-hdr">
                <ion-col>DATE</ion-col>
                <ion-col>STATUS</ion-col>
              </ion-row>
              <ion-row class="fl-booking-dtl-txt">
                  <ion-col>{{item.Date | date:"dd/MM/yyyy": 'UTC'}}</ion-col>
                  <ion-col  *ngIf="item.Status" class="fl-patient-cpmt-txt">Confirmed</ion-col>
                  <ion-col  *ngIf="!item.Status" class="fl-patient-incpmt-txt">Unconfirmed</ion-col>
              </ion-row>
              <ion-row class="fl-booking-sub-hdr">
                  <ion-col>TIME</ion-col>
                  <ion-col>URGENT</ion-col>
                </ion-row>
                <ion-row class="fl-booking-dtl-txt" style="align-items:center;">
                  <!-- <ion-col>12pm-14pm</ion-col> -->
                  <ion-col>
                      <ion-col>{{item.TimeBlock}}</ion-col>
                   
                </ion-col>
                <ion-col><ion-toggle  mode="ios" color="secondary" [(ngModel)]="item.IsUrgent" (ionChange)="UpdateUrgetStatus(item)" checked="item.IsUrgent"></ion-toggle></ion-col>
              </ion-row>
                <ion-row *ngIf="!item.Status" class="fl-booking-sub-hdr">
                    <ion-col>SET APPOINTMENT TIME</ion-col>
                    <ion-item style="padding-left:0px;">
                        <ion-datetime #picker displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="item.StartTime"  item-left>                      
                        </ion-datetime>
                        <ion-icon name="ios-arrow-down" (click)="picker.open()" style="color: #00FADE;" item-left></ion-icon>
                      </ion-item> 
                </ion-row>
                <ion-row class="fl-booking-sub-hdr">
                    <ion-col>NOTE</ion-col>
                  </ion-row>
                  <ion-row class="fl-booking-dtl-txt">
                    
                        <ion-textarea *ngIf="!item.Status" [(ngModel)]="item.Notes" type="text" placeholder="note" class="fl-cnfrm-appnmnt-note"></ion-textarea>
                        <ion-col *ngIf="item.Status">{{item.Notes}}</ion-col>
                  </ion-row>
              <ion-row *ngIf="!item.Status" style="margin-top: 20px;">
                  <button class="button-block fl-cnfrm-appnmnt-btn" (click)="BookAppointment(item)" >CONFIRM APPOINTMENT</button>
              </ion-row>
            </div>
          </ion-card>

          <ion-card *ngIf="!(pendingAppointments?.length > 0)"style="border: 1px solid #E8EFF2;
              border-radius: 4px;box-shadow: none;">
                <div class="fl-booking-details" style="padding-right:25px;">
              <ion-row class="fl-booking-sub-hdr">
                  <ion-col>No Booked Appoinments.</ion-col>
                </ion-row>
                </div>
          </ion-card>
          
        </div>
    </div>
  </div>
  

</div>
</ion-content>