.fl-dctr-schedule-cntnr{
    background-color:#F9FBFC;
    //height: -webkit-fill-available;
    //height: calc(100% - (104px));
    padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.fl-booking-cntnr{
background: #FFFFFF;
box-shadow: 0 2px 12px 0 rgba(192,209,217,0.30);
border-radius: 8px;
padding-bottom: 12px;
}
.fl-booking-hdr{
    font-size: 12px;
color: #C6D5DD;
font-weight: bold;
padding-top: 15px;
    padding-left: 15px;

}
.fl-booking-sub-hdr{
    font-size: 10px;
color: #C0D1D9;
font-weight: bold;
}
.fl-booking-details{
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
}
.fl-booking-dtl-txt{
    font-size: 12px;
color: #7A8C9F;
}
.fl-cnfrm-appnmnt-btn{
    border-radius: 4px;
    font-size: 10px;
    color: #38E4F3;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #38E4F3;
}
.fl-cnfrm-appnmnt-note{
    border: 1px solid #E8EFF2;
    border-radius: 4px;
    height: 80px;
}

.fl-bullet {
    margin-top:5px;
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}

  .toggle:checked {
    background-color: #a7cfdf !important;
}

