<!--
  Generated template for the AddpatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<!--for modal styling used help from
  https://stackoverflow.com/questions/42695169/ionic-2-login-popup-using-modal-and-styling-->
<div style="height:100%" padding >
    <ion-row>
        <ion-col col-12 style="text-align: right;">
            <ion-icon name="md-close" style="color: #7A8C9F;font-size: 1.8em;" (click)="closeModal()"></ion-icon>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 style="text-align: center;font-size: 17px;
        color: #7A8C9F;">
            EXISTING PATIENT
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 style="text-align: center;font-size: 13px;
        color: #7A8C9F;">
            Quisque ut erat non turpis iaculis gravida.
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12 >
            <ion-item>
                <ion-input type="text" [(ngModel)]="patientEmail" placeholder="E-MAIL" class="fl-signInInput"></ion-input>
              </ion-item>
        </ion-col>
    </ion-row>
    <ion-row style="padding-top: 20px;">
        <ion-col col-12 >
            <button class="btnSignIn button-block" (click)="searchPatients()" >SEND YOUR CODE</button>
        </ion-col>
    </ion-row>

</div>


<!--optional code -->
<!-- <div style="background: rgba(0,0,0,0.5);
position: absolute;
top: 80px;
left: 45px;
display: block;
width: 70%;
height: 62%;">
test</div> -->
