page-addpatient {

}
// for modal styling used help from
// https://stackoverflow.com/questions/42695169/ionic-2-login-popup-using-modal-and-styling
ion-modal.my-popup {
    @media (min-width: 300px) and (min-height: 500px) {
      ion-backdrop {
        visibility: visible;
      }
    }
  
    .modal-wrapper {
      position: absolute;
      overflow: hidden;
      max-width: 330px;
      border-radius: 8px;
      width: 90%;
      height: 45%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: 0;
      box-shadow: 0 16px 20px rgba(0,0,0,.4);
      background-color: #FFFFFF;
    }
  }