<ion-grid style="background-color: #F9FBFC;">
    <ion-row>
        <ion-col col-2 style="text-align: center;" (click)="goBack()">
            <ion-icon name="ios-arrow-back-outline" style="color: #C0D1D9;
            font-size: 2.3em;" ></ion-icon>
        </ion-col>
        
        
        <ion-col col-8 style="text-align:center;    ">
            <img class="" style="width: 150px;" src="assets/imgs/brand_header.png" >
        </ion-col>
        
        <ion-col col-2 >
         
        </ion-col>
    </ion-row>

</ion-grid>
