<!-- Generated template for the HpDetailComponent component -->
<div style="margin-bottom:10px;">
    <ion-row>
        <ion-col col-3 style="text-align: center;">
            <!-- <ion-icon name="md-more" style="color: white;font-size: 2.5em;"></ion-icon> -->
<img src="assets/imgs/HPPhoto.png" style="width:60px;height:60px;border-radius: 50%;    border: 1px solid #E5EAED;"/>
          </ion-col>
        
        
        <ion-col col-9 style="text-align:left;  padding-top:10px;  ">
            <ion-row>
                <ion-col style="font-size: 11px;font-weight: bold;
                color: #C0D1D9;">HEALTHCARE PROVIDER</ion-col>
            </ion-row>
            <ion-row>
                <ion-col style="font-size: 0.8em;">Dr. E.Powel</ion-col>
            </ion-row>
        </ion-col>
        
        
    </ion-row>
</div>
