<div class="fl-ans-que-cntnr" style="height:100%">
    <div style="background-color: #32E6F0;">
    <nav-bar-light style="height:55px;"></nav-bar-light>
</div>



<div style="height:calc(100% - 95px )">
       
    <div style="" class="fl-question-curve-cntnr">

        <div class="row">
            <button class="btnPh">{{selectedQuestionIndex+1}} of {{quiz.length}} question</button>
        </div>

        <div class="row" *ngFor="let item of quiz;let index = index;last as isLast">
            <label class="labelQuestion" *ngIf="index==this.selectedQuestionIndex">{{item.Question}}</label>
        </div>




    </div>
    <!-- <div style="padding-right:15px;padding-left:15px;position: absolute;
        bottom: 70px;
        width: 100%;height:130px;">
        <div>
            <div class="fl-selected-ans-score">{{selectedScore}}</div>
            <div class="selected-ans-text">{{selectedScoreText}}</div>
        </div>
        <div>
                 <ion-range [(ngModel)]="selectedScore" min="{{minScore}}" max="{{maxScore}}"
                 pin="true" step="1" snaps="true" style="padding-top:0px;" debounce="500" (ionChange)="onSliderChanged(selectedScore)"> 
             </ion-range> 
        </div>
        <div>
            <ion-label style="float:left;" class="fl-textwrap-result fl-range-text">{{minScoreText}}</ion-label>
            <ion-label style="float:right" class="fl-textwrap-result fl-range-text"> {{maxScoreText}}</ion-label>
        </div>
    </div> -->
    <div>
        <ion-list radio-group [(ngModel)]="selectedScore" style="margin: 0px;
        padding: 0px 30px;">
          
            <div *ngFor="let ans of slectedQuestionsAnswers" class="fl-radio-parent">
              <ion-label name="flAnsLbl">{{ans.Text}}</ion-label>
              <ion-radio style="    margin-top: 15px;"  value="{{ans.Score}}"  (ionSelect)="onionSelect(selectedScore)" name="flAnsRadio"></ion-radio>
            </div>
        </ion-list>
    </div>
</div>
    <div class="fl-footer-strt-quiz">
        <ion-row>
            <ion-col col-6 style="    padding: 0px;">
                <button class=" button-block fl-footer-back-btn" (click)="goToBack(item,i)">BACK</button>

            </ion-col>
            <ion-col col-6 style="    padding: 0px;">
                    <!-- *ngIf="selectedQuestionIndex == quiz.length-1" -->
                <button class=" button-block fl-footer-next-btn"  (click)="goToNext(item,i)">NEXT</button>
                <!-- <button class=" button-block fl-footer-next-btn" *ngIf="isLast" (click)="goToNext()">FINISH</button> -->
            </ion-col>
        </ion-row>
    </div>

</div>

