page-anwser-question {

}
.fl-footer-back-btn {
    background: #C6D5DD;
    height: 40px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
}
.fl-footer-next-btn {
    background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
    height: 40px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
}
.fl-selected-ans-score {
    width: 30px;
    border: 2.5px solid #00FADE;
    border-radius: 50%;
    height: 30px;
    color: #00FADE;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.selected-ans-text{
   
    
    
    height: 30px;
    color: #00FADE;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.labelQuestion {
    
    font-size: 25px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 49px;
    padding-top: 10px;
    width: 70%;
    
  }
  .fl-ans-que-cntnr{
      height: 100%;
  }
  .fl-question-curve-cntnr{
    padding-top: 70px;
    padding-left: 25px;
    height: calc(100% - 200px );
    background-image: linear-gradient(-139deg, #57D7FE 0%, #00FADE 100%);
    border-bottom-left-radius: 25%21px;
    width: 130%;
    border-bottom-right-radius: 75%330px;
    left: 20px;
  }
  .fl-range-text{
    color:  #CAD3D8;margin:0px;width: 90px;
  }
  .fl-radio-parent{
    display: flex;
    
     border-bottom: 1px solid #dedede; 
     padding: 0px 20px;
  }